[2022-01-11 23:03] nniehoff commented on #433
I ran into this same issue today after generating a new secret.  Originally I created the known_hosts with `ssh-keyscan -H github.com` which caused this error, replacing the known_hosts with the `ssh-keyscan github.com` seems to work.  So for me, it seems hashing the hostnames in known_hosts caused this issue.

[2022-01-12 11:55] flelain commented on #433
Hi there,

Thanks for your feedback @nniehoff . On my end, I'm not hashing the hostnames but still, it's not working.

See the `ssh-keyscan` and output below:
[code]

[2022-01-13 11:33] aholbreich commented on #439
I see the same issue on Flux 0.23 and flux 0.25.1

The strange thing, after an unpredictable amount of time and out of sudden the image gets updated (see the log line in between).

[code]

this is really strange, but shows the configuration generally must be Ok. And access is granted as well.

[2022-01-13 11:40] stefanprodan commented on #439
@aholbreich this issue is about source-controller but you're report is for image-automation-controller.

[2022-01-13 11:41] stefanprodan commented on #439
@squaremo can we please move this to image-automation-controller repo?

[2022-01-13 11:50] squaremo commented on #439
I don't think so:

 1. The code that fails is in this repo
 2. source-controller also fails with this message, so it's not particular to image-automation-controller.

[2022-01-13 11:57] aholbreich commented on #439
Sorry @stefanprodan if it wrong here. But all seem to depend on GitRepo level.

[2022-01-13 12:14] stefanprodan commented on #439
@aholbreich If you set the git provider to libgit2 in your GitRepository, does source-controller runs into the same issue? From what you’ve reposted in Slack my impression is that the error occurs after IAC does a push.

[2022-01-13 13:13] oliverbaehler opened #541 "Helm Chart Signature Verification"
We would be interested in verifing the signature on a helm chart with a given key ring, so we can verify, that only trusted charts will be installed on our cluster (Helm client does it like that: https://helm.sh/docs/helm/helm_verify/). Do you think that feature would make sense?

I guess implementation wise it would look similar to the git signature verification (reference configmap with gpg keys

[2022-01-13 13:19] hiddeco commented on #541
Yes, this is a welcome feature to be added that simply not got priority until now. What should be done, is that we also download the [provenance file](https://helm.sh/docs/topics/provenance/#the-provenance-file) while getting the packaged chart.

[2022-01-13 15:55] aholbreich commented on #439
@stefanprodan can you give me a hit please on how to do it? Would love to try.

P.S. If we track down the issue to the repository level I would like to mention that our git repo is in fact Atlassian Bitbucket. Should normaly not make any difference, but who knows.

[2022-01-13 16:01] dewe commented on #439
We're also on **Bitbucket**, and seeing the same issue.

[2022-01-13 16:17] ZeroDeltaAlpha commented on #439
@aholbreich where your flux repo is find the git repository yaml and under spec add
`gitImplementation: libgit2 `
and that should change it

[2022-01-13 17:42] kingdonb commented on #454
There seem to be a few things missing from the developer docs still, I'm planning to fix them in a separate PR, not sure if it's necessary to re-open this issue, or if I should just proceed with the PR... just writing it down here as I'm compiling, so I don't forget anything I found

I built source-controller on a Debian Sid system just now (linux/amd64), I was able to figure out that I needed to

[2022-01-17 12:00] Crevil opened #544 "Latest GitRepository revision sometimes not available"
We sometimes see what seems to be a race between fetching the latest revision on a GitRepository and making them available on the API for downloading. It "fixes" it self after a minute or two but makes noize while it is not working.

We observe the following pattern of kubernetes events.

[code]

I peaked into the codebase to get an idea of how this is implemented but I didn't see anything particu

[2022-01-18 21:32] shreyassreenivas opened #546 "HELM repository to provide the list of available charts:version in the status of HelmRepository CRD"
Presently Flux source controller provides a way to register a particular HELM repository and provide the resync interval.
This resync activity checks for any updates in the index.yaml present in the repository.

Feature request :

Can the flux source controller add the list of Helm charts available in the index.yaml in the HelmRepository CR status.

OR

All the charts in the repository can be crea

[2022-01-19 07:33] stefanprodan commented on #546
We can’t do this as the etcd limit is 5MB, there are repos like Bitnami and many others that have hundreds of charts with thousands of versions, the index file is usually way bigger than the max limit of a Kubernetes resource.

[2022-01-20 00:09] blafry opened #548 "Private HelmRepository on GitHub"
Hi,
Im wondering, how can I authorize a private helm repository on GitHub?

For git repository, the object takes a `SecretRef` which can be referenced as secret with the fields `identity`, `identity.pub` and `known_hosts`. As described [here](https://fluxcd.io/docs/components/source/gitrepositories/#specification).

However, in the case of helm repository, `SecretRef` allows you to mount the secre

[2022-01-20 16:11] haiS8dn opened #552 "Support Helm charts from OCI registries"
Regarding #124  -

Last week OCI become GA (take a look on the thread below) -
https://github.com/helm/helm/pull/10546

We want to use OCI scheme (in order to pull helm chart from GCP artifact registry)

Is there plan to support it now when the feature is stable?

[2022-01-20 16:29] stefanprodan commented on #546
Flux already has a HelmChart CRD and it does create HelmCharts based on the version or the semver range specified in a HelmRelease. Creating thousands of HelmCharts just because they are in the index, means filling out etcd and DDOS-ing Kubernetes API, if you need to list all chart versions, better to do it outside the cluster, etcd IMO is not the place to put such data.

[2022-01-20 17:04] shreyassreenivas commented on #546
Thank you for the detailed repose again. It did give the additional clarity I was missing.

I will be closing this issue.

[2022-01-20 17:04] #546 closed

[2022-01-24 13:59] dholbach commented on #454
@hiddeco @chanwit IIRC you both looked into the mechanics of build bits - can you comment on the above? ^

[2022-01-24 15:15] yiannistri commented on #454
@kingdonb fyi I've updated `DEVELOPMENT.md` to address *some* of your comments that I've also encountered.

[2022-01-24 22:58] kingdonb commented on #454
@yiannistri I found another source for the cross-platform emulation stuff for building multi-arch that looks a bit more trustworthy, (that seems to be the only part of my feedback not addressed by your #555) -- here:

[code]

I don't know if there is a canonical source for this information, but I wouldn't trust the commands I provided in my earlier comment without a source to back it up, as it wil

[2022-01-25 12:38] nicholas-form3 commented on #552
This would be very useful feature for us too.  The [latest release 3.8.0 ](https://github.com/helm/helm/releases/tag/v3.8.0) of helm now supports OCI registries.

The registry client that was [internal](https://github.com/fluxcd/source-controller/issues/124#issuecomment-762769152) is now part of the public API.  https://github.com/helm/helm/blob/main/pkg/registry/client.go

[2022-01-25 19:38] cheruvu1 commented on #131
Hi ThemeIT,  You added proxy entries dynamically to the source-controller deployment after running OR you added to the deployment.yaml file, then did Flux deployment ?.

[2022-01-26 12:33] uderik opened #559 "upgrade to latest source-controller s3 bucket reconciliation stuck"
Hello,

After upgrade flux to the latest version with ghcr.io/fluxcd/source-controller:v0.20.1,  s3 bucket reconciliation stuck with error:

 source-controller  Head "https://cprc-att-gitops.s3.dualstack.us-east-1.amazonaws.com/": context deadline exceeded

after downgrade source-controller version to 0.18.0 it's work again:

source-controller  Fetched revision: 7671db410d603f4b16aec56ebc1369893c4

[2022-01-27 21:20] kingdonb commented on #559
Hello, sorry you're having trouble and thanks for making a report

I'm currently on source-controller v0.21.1 and can't downgrade at the moment, but I've just tested with my minio https bucket as a source and I didn't have any difficulty with Bucket sources there.

Can you provide your `Bucket` configuration for the more details to add to the report? Please omit or occlude any secrets of course so

[2022-01-28 02:01] skydoctor opened #564 "Revisit supporting Helm charts from OCI registries"
As of the last comment on https://github.com/fluxcd/source-controller/issues/124, we wanted to wait till OCI is GA on the Helm side. As of Helm v3.8.0, OCI registries are enabled by default and not considered experimental:

https://helm.sh/docs/topics/registries/
https://github.com/helm/helm/issues/8259

Can we re-open the locked discussion on adding support for OCI registries?

[2022-01-28 11:19] ZeroDeltaAlpha opened #565 "Stuck in Reconciling and SSH_AUTH_SOCKET not specified"
Hi All,

We are running the following flux components in our EKS cluster:

[code]

We are observing the following issues:

* GitRepo stuck in an eternal reconciling in progress status, even when a timeout is set.

* GitRepo reconcile failing immediately with the message:  unable to clone 'ssh://git@github.com/example/examplerepo': error creating SSH agent: "SSH agent requested but SSH_AUTH_SOCK no

[2022-01-28 11:46] hiddeco commented on #565
Can you share a pseudo copy of the `GitRepository`, and an sanitized version of the `Secret` the repository refers to?

[2022-01-28 21:18] okarmusk opened #566 "Reconciler error unable to clone SSH_AUTH_SOCKET not specified"
Hi everyone.
I'm trying to force flux to works with private github.com repository, but I cannot configure it properly.
I followed instruction, first I created flux repository with command:
[code]
Went smoothly. Next I read, that for private repositories secret should be created, so I ran:
[code]
Went smoothly. Next I created `flux source` with:
[code]
Also went smoothly. Kustomization was created

[2022-01-29 08:07] stefanprodan commented on #566
Is your RSA key password protected?

[2022-01-29 08:12] okarmusk commented on #566
Only empty password - pressed enter during generation.

[2022-01-29 08:24] stefanprodan commented on #566
Ah the issue is that you didn’t provide the secret in `flux create source git xyz`.

[2022-01-29 08:41] stefanprodan commented on #566
So @okarmusk you need to add the secret to the GitRepository manifest like so:

[code]

Or regenerate the whole YAML with `flux create source git xyz --secret-ref xyz-auth`

[2022-01-29 09:41] okarmusk commented on #566
Thank you for really fast response, I'll check it in evening and give you a sign if works.

[2022-01-29 14:50] okarmusk commented on #566
@stefanprodan I checked your proposal and... It works!
Perhaps it would be good to mention about `--secret-ref` flag in https://fluxcd.io/docs/cmd/flux_create_source_git/
For people who starts with flux (just like me) it might be not intuitive that secret creation must be done before the source creation and then source should be created with special reference. I thought that flux connect secret wi

[2022-01-29 14:50] #566 closed

[2022-01-30 16:52] failytaler opened #567 "Reopen issue to support of Helm charts from OCI registries"
I hope now, with the release of helm 3.8.0 and OCI GA we can further discuss flux2 oci support. On our installations, Chartmuseum was pushed to its' limits and OCI images are really top1 feature stopping us from further moving forward.
Please, reopen https://github.com/fluxcd/source-controller/issues/124

[2022-01-30 16:53] #567 closed

[2022-01-30 16:54] failytaler commented on #564
This is a duplicate of https://github.com/fluxcd/source-controller/issues/552. But we are waiting so much for this feature as well.

[2022-01-31 10:52] hiddeco commented on #124
With Helm 3.8.0 released and OCI being out of experimental, this is now ready to be worked on. It will require a bit of design tinkering to work well in combination with #450, @souleb is currently investigating our options, and is hoping to share more on this later in the week.

[2022-01-31 10:53] hiddeco commented on #552
Duplicate of https://github.com/fluxcd/source-controller/issues/124, which was locked with a reason.

[2022-01-31 10:53] #552 closed

[2022-01-31 10:54] hiddeco commented on #564
Duplicate of https://github.com/fluxcd/source-controller/issues/124, which was locked with a reason.

[2022-01-31 10:54] #564 closed

[2022-01-31 22:25] clambin commented on #439
seeing this on GitHub too.  tried getting gitImplementation: libgit2, but still getting those errors.

[2022-02-01 09:05] dzirg44 commented on #439
Have the same issue, but after increasing to 15m  (originally it was 3m) I don't see any errors (I restarted ImageAutomation container)
[code]
in my `HelmRelease` i have
[code]
and it also works without errors.

[2022-02-01 11:48] hiddeco commented on #439
With the release of [Flux `v0.26.0`](https://github.com/fluxcd/flux2/releases/v0.26.0), we would like to kindly ask folks with issues to update to the latest image releases. Since we changed our build process around `libgit2` for the source-controller and image-controller, we have observed some of the issues as described here to have vanished (from EKS at least).

[2022-02-01 17:47] uderik commented on #559
Hello @kingdonb
 last working version 0.18.0, after upgrade to 0.19.0 got:
 `Head "https://my-gitops.s3.dualstack.us-east-1.amazonaws.com/": context deadline exceeded`
update to latest version flux (0.26.0) with fluxcd/source-controller:v0.21.1, problem still present

it's standard AWS s3 bucket
[code]

[2022-02-01 20:52] hiddeco commented on #559
This does not directly explain why the behavior would be slower in newer controller versions, but have you tried increasing the `.spec.timeout` to a higher value?

[2022-02-01 23:13] uderik commented on #559
@hiddeco  >2 minutes for reconciliation in latest version source-controller :'(
.spec.timeout = 4m

[code]

[2022-02-02 12:54] stefanprodan opened #568 "Build fails on Apple Silicon"
After the v0.21 release, running make build/test/vet/etc fails on Apple Silicon with Go 1.17 ARM64. This is due to the libgit2 static build changes introduced in #558

[2022-02-05 08:31] samcday opened #569 "Revisit symlink exclusion"
Related to #191

I want to use the [neat documented trick](https://fluxcd.io/docs/guides/helmreleases/#refer-to-values-in-configmaps-generated-with-kustomize) of employing a custom kustomizeconfig to ensure that `ConfigMap`/`Secret` objects from Kustomize generators will get the autogenerated name and thus auto-reconcile when the values change.

My repository is set up like so:

[code]

I would li

[2022-02-05 08:35] samcday commented on #569
Sigh, just realized that even with the symlink approach, Kustomize still complains about load restrictions.

I'm wondering when Stockholm Syndrome kicks in and I stop finding Kustomize to be one of the worst tools I've ever been forced to endure :(

[2022-02-05 08:35] #569 closed

[2022-02-05 09:46] mkoertgen commented on #439
Updating gotk-components to v0.26.0 seems to alleviate git clone timeouts for me (4 Clusters, all AKS, using git repositories in GitHub & Azure DevOps).

Except for a short glitch during update no more (recent) timeouts
![image](https://user-images.githubusercontent.com/7235760/152636663-09741785-7a33-40eb-b718-0a70c5dd560e.png)

Looks good for now but I will keep observing fetch/clone behavior ov

[2022-02-06 11:22] clambin commented on #439
same.  looks like it's fixed. thanks!

[2022-02-07 08:24] stefanprodan commented on #313
The community maintained Helm charts for flux2 are available at https://github.com/fluxcd-community/helm-charts

[2022-02-07 08:24] #313 closed

[2022-02-08 11:23] amitabh91 commented on #461
I was also facing the same issue "error: authentication required".

@Carles-Figuerola Thanks for pointing out the addition of a new line in base64 value.

I created a secret using kubectl command line and it worked.  The source controller was able to fetch the code from SCM.

Sharing the command below I hope it will help others too.

` #kubectl create secret generic https-creds  --from-literal=use

[2022-02-08 11:26] stefanprodan commented on #461
We offer commands in Flux CLI for generating secrets properly, see https://fluxcd.io/docs/cmd/flux_create_secret_git/

[2022-02-08 11:26] #461 closed

[2022-02-08 12:21] #568 closed

[2022-02-08 15:47] Carles-Figuerola commented on #461
Hi @stefanprodan, the issue I was having was not about having a stray `\n` on my secret string, (which is indeed and common problem and something I _did_ have during my troubleshooting), but the issue was that using a `github token` (I was testing against (Enterprise Github, not Public Github, if that's any help) was not working but using an actual `password` did work.

[2022-02-08 15:53] stefanprodan commented on #461
@Carles-Figuerola can you use that token to clone a repo locally with the Git CLI? My guess is that the token issue is not specific to Flux but to the GH permissions. Note for a PAT to work, your user must have admin rights on that repo and the token should be generated with all `repo` permissions.

[2022-02-08 22:41] simingweng commented on #124
@hiddeco @souleb we're integrating with FluxCD Toolkit and OCI support is really important feature. I'm keen to help, please let me know if anything I can start with.

[2022-02-09 09:40] #484 closed

[2022-02-09 12:53] souleb commented on #124
We are working on a [design doc](https://hackmd.io/HS9ZqSCWQNqSefdaWFylJQ?view). Would be nice to have feedbacks.

[2022-02-09 13:36] kingdonb commented on #559
Are you certain nothing has changed in your bucket?

I see you mentioned:

So I'll assume you're correct about this, and it is a change in our build that is at fault. Since Source Controller 0.18 we see that `minio-go` has been upgraded from v7.0.10 to v7.0.15, it's possible there is some regression in there.

We are also using a new Go version.

We've just scanned the changelogs and nothing is ju

[2022-02-09 13:49] kingdonb commented on #565
Could you please try to reproduce this on an upgraded source-controller from the latest Flux release?

There are some changes in source-controller.

Also, could you try setting the `spec.gitImplementation` to both options, and let us know if the issue reproduces for both implementations? The possible values are `go-git` and `libgit2`. (This may be enough to get you un-stuck.)

If it still reproduc

[2022-02-11 20:13] simingweng commented on #124
@souleb @hiddeco I've left some comments on the design doc. Basically, my angle is from modeling the OCI Source CRD on `Registry` rather than `Repository`, which, I feel, makes it easier to reason that a single generic OCI source can produce different types of Artifact (of different `config.mediaType`), helm chart, kustomize bundle, etc.

By the way, I found hackmd not really friendly in terms of

[2022-02-11 21:16] simingweng commented on #124
[code]
[code]
`helm-controller` creates the following
[code]
`source-controller` use `GET /v2/my-chart/tags/list` Registry API to determine the desired tag, then it pulls the manifest via `GET /v2/my-chart/manifests/<desired tag>`, now we know the `config.mediaType`, from this point on, `source-controller` can have mediaType-specific handler to process the config and the binary blob layers (helm O

[2022-02-12 11:50] pjbgf opened #578 "Source controller does not reuse TCP connections when fetching helm charts"
### TL;DR
Source controller does not reuse tcp connections when fetching helm charts.

### Initial investigation
- In a cluster using the latest flux version, with all sources suspended apart from 4 HelmCharts, yield multiple long running TCP connections.
- The issue is not new to `v0.21` (refer to Comparison v0.20 vs v0.21).
- The problem seems to be upstream as a [new transport is being created

[2022-02-14 12:34] souleb commented on #124
@simingweng what about putting this in the alternative design section?

[2022-02-14 12:43] stefanprodan commented on #124
I'm not for introducing two types for Helm and Kustomize to source-controller API. I would very much prefer to reuse the `OCIRepository` type in both kustomize-controller and helm-controller APIs `sourceRef`. The  `OCIRepository` implementation is here: https://github.com/fluxcd/source-controller/pull/450

[2022-02-14 13:15] hiddeco commented on #124
Isn't the `OCIRegistry` part a simple rename from `OCIRepository` -> `OCIRegistry`? Which might be a better name indeed.

[2022-02-14 22:42] makkes commented on #124
Not exactly. The difference is that an OCIRepository would point to a concrete repository like registry.gitlab.com/makkes/repo whereas the idea of a OCIRegistry is more generic.

With an OCIRepository you would have to create one such resource per Helm chart.

With an OCIRegistry you would create one resource for as many Helm charts or other actual resources you'd like to consume from the registry

[2022-02-16 12:54] pjbgf commented on #578
Upstream PR fix: https://github.com/helm/helm/pull/10568

[2022-02-16 12:55] #399 closed

[2022-02-16 13:27] oliverbaehler commented on #432
Don't create merge commits on pull requests, use fasforward instead. At least that's my current solution.

[2022-02-16 13:35] squat commented on #432
Is that possible through the GitHub UI?

[2022-02-16 14:16] pjbgf opened #581 "Flaky tests in helmchart_controller_test"
HelmChart is intermittely failing with the error below and may require further investigation:

[code]

Occurrences:
- https://github.com/fluxcd/source-controller/runs/5216429392?check_suite_focus=true
- https://github.com/fluxcd/source-controller/runs/5187139239?check_suite_focus=true
- https://github.com/fluxcd/source-controller/runs/5186595620?check_suite_focus=true

[2022-02-16 14:17] pjbgf commented on #581
Wondering whether this issue is the result of the server side apply bug: https://github.com/kubernetes/kubernetes/issues/95460

[2022-02-16 14:35] stefanprodan commented on #581
We don't use SSA in SC tests, this is mostly likely solved in the rewrite-dev branch.

[2022-02-16 21:54] davidkarlsen opened #582 "seccomp causing trouble"
after upgrade to [*],  I see:

[*]
[code]

[code]

If I drop the seccomp profile it will schedule just fine.

openshift 4.9.x
[code]

[2022-02-17 08:01] stefanprodan commented on #582
Have you seen https://fluxcd.io/docs/use-cases/openshift/#security-context-constraints?

[2022-02-20 19:26] waltdizzy commented on #565
I am having the same issue.

`---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: wdr-frontend
  namespace: flux-system
spec:
  interval: 1m0s
  ref:
    branch: main
  url: ssh://git@github.com/waltdizzy/waltdizzy-web
`
I would be happy to provide information on your outlined steps, but need some help. How do I get the Secret?

[2022-02-20 20:30] waltdizzy commented on #565
Solution is I needed to add a secret to Kubernetes. I did not like the idea of committing a secret to git so I went ahead and created a secrets YAML that I applied directly (be sure to base64 encode both the username and password). Use kubectl explain gitrepository.spec to get information on secret format for https vs ssh. I do not know if there is a better way to do GitOps with secrets rather the

[2022-02-20 21:01] simingweng commented on #124
@makkes yes, that's where I came from. The fundamental reason that makes me want to try model it at `Registry` level is that in current `HelmRelease` API, we offer `HelmRelease.chart.version` to filter desired versions of chart, and at the same time, in the suggested `OCIRepository`, it seems we also want to offer the same thing via `ref` or `filterTag`, etc.

Do we want to allocate this "version

[2022-02-20 21:03] simingweng commented on #124
Yes, I can.

[2022-02-21 12:06] oliverbaehler commented on #432
It's a setting per repository. See whenever you merge a branch the default behavior is that a merge commit is created which combines the two refs. But in your case this merge commit has no signature. To avoid this problem you simply should not create merge commits. I am working with GitLlab and there it's possible to create Fast-Forward MRs, which solve this problem (https://docs.gitlab.com/ee/use

[2022-02-21 13:14] squat commented on #432
Ah, yes of course, however, this is hardly a nice workflow. It means that at the end of the day someone has to be responsible for checking out out all PRs locally and run some operations manually. This means no "auto-merge" when all CI checks pass and it's somewhat of a step backwards in continuous integration :/

[2022-02-21 14:34] oliverbaehler commented on #432
Yeah i Know what you mean, it's not the best solution. I don't know maybe you could integrate that step as well into your CI system. We have a robot user that also makes gpg signed commits that are verified.

Besides that there isn't any other way to do it (that I know of). Switching to GitLab which supports FF Pull Requests via UI might be the easiest.

[2022-02-21 14:39] squat commented on #432
Re: bots /GitLab: yes totally. The other idea that came to mind now was to write a bot that does the FF merges for me and updates/closes the PR

[2022-02-21 18:13] hiddeco opened #587 "Rewrite of reconcilers and `v1beta2` API introduction"
This is a wrapping issue to provide an overview of the PRs we want to be included in the next minor release range (`v0.22.x`), completing the overall rewrite of the reconcilers and introduction of the `v1beta2` API.

List is in sequential order, and may be incomplete at time of creating this issue:

- [x] https://github.com/fluxcd/source-controller/pull/586
- [x] https://github.com/fluxcd/source-c

[2022-02-22 10:06] stefanprodan opened #588 "Empty artifacts after the libgit2 upgrade to 1.3.0"
After upgrading my cluster to the latest build from main `ghcr.io/fluxcd/source-controller:rc-b65cf9d5`, using `gitImplementation: libgit2` with both https and ssh result in empty artifacts. I think this bug was introduced in #573

[2022-02-22 10:38] hiddeco commented on #588
Above issue is just for branches, and also the single test scenario in which we lacked a confirmation on Artifact size.

[2022-02-22 11:07] hiddeco commented on #588
After cloning and checking out the Git repository, _something_ seems to alter the state of the folder on the FS, making Git itself think that files have been removed:

[code]

If you explicitly check out the resolved HEAD reference using `checkoutDetachedHEAD` (as used by others) in `CheckoutBranch#Checkout`, this seems to revert the changes:

[code]

This gives me gut feeling that the the `Checko

[2022-02-22 16:15] #588 closed

[2022-02-23 12:30] #357 closed

[2022-02-23 12:30] #415 closed

[2022-02-23 12:30] #481 closed

[2022-02-24 06:53] willchan opened #593 "source-controller Deployment manifest expects the default cluster domain"
It looks like the [latest version of the manifest](https://github.com/fluxcd/source-controller/blob/6497680d0d60b417654775cac8f6fb71c8d704b8/config/manager/deployment.yaml#L60) expects that the cluster domain is `.cluster.local`:

https://github.com/fluxcd/source-controller/blob/6497680d0d60b417654775cac8f6fb71c8d704b8/config/manager/deployment.yaml#L60

When I installed flux on a [GKE cluster wit

[2022-02-25 17:43] cep21 commented on #544
This may be related to what I observed here: https://github.com/fluxcd/flux2/discussions/2464

[2022-02-25 18:37] Crevil commented on #544
Sure seems like the same 👍

[2022-02-27 19:50] rajithwm commented on #566
Can you please update the documentation with this workaround. .

[2022-02-28 20:38] natarajmb commented on #402
Hello,
Seeing the same issue with AzureDevOps hosted git repo with libgit2. It has worked flawlessly for the last 6 months until now. The same git repo called from another cluster works fine. Any workarounds?

Git source-controller same as above v0.15.3

[2022-03-01 04:38] kingdonb commented on #402
The latest source-controller is v0.21.2 from Flux CLI v0.27.2. There have been substantial changes in all parts of Flux since June, when the source-controller v0.15.3 was released. Some of these updates might have already resolved this issue for the original poster.

Are you able to reproduce it consistently @natarajmb, or does it go away when you restart? (Are you able to try an upgrade?)

[2022-03-01 09:03] natarajmb commented on #402
@kingdonb  I now restarted source-controller and it started to pull the latest version of the code. FYI, we run flux from single repo based on path separation for multiple environments/clusters. I think this has occurred as we had a git revert on the path specific to this cluster after which it never pulled. Restarting source-controller fixed it. Thanks for the heads up will upgrade to the latest

[2022-03-03 07:30] mksony commented on #439
After updating to https://github.com/fluxcd/flux2/releases/tag/v0.27.3 we start to see these errors again. Anyone else experiencing these problems?

[2022-03-03 16:47] mkoertgen commented on #439
Me too, especially on Azure DevOps using libgit2

[2022-03-03 18:25] kingdonb commented on #544
Closing as duplicate. https://github.com/fluxcd/flux2/discussions/2464

[2022-03-03 18:25] #544 closed

[2022-03-04 09:50] pjbgf opened #601 "Consolidate FS Permissions handling"
Items for review:

- [x] #603
- [ ] Revisit default permissions when creating/modifying files in disk to ensure a least privileged approach.

[2022-03-04 09:54] hiddeco opened #602 "Improve garbage collection strategy"
At present, the garbage collection of an Artifact happens on the next reconciliation run and removes all but current Artifact. As reported in https://github.com/fluxcd/flux2/discussions/2464, this can lead to problems when multiple commits are made in a row. Because there is a chance a controller reacting to an update is not able to download the advertised Artifact in time.

In addition, there has

[2022-03-04 10:37] jakubhajek commented on #439
I can confirm that. Once upgrading to the latest tag *0.27.3* I started to receive back again the error `unable to clone: SSH could not read data: Error waiting on socket`.

[2022-03-04 10:42] souleb commented on #124
@simingweng We have updated the doc. Please review it.

[2022-03-04 10:54] pjbgf commented on #439
Re-opening this issue so we can further investigate the issues post `v0.27.3`.

[2022-03-04 11:53] pjbgf commented on #602
I think we should handle the two concerns separately, which makes option 1 more appealing to me.
With that in mind, the `TTL` could potentially start as an arbitrary value, as those archives are solely used internally by flux and not recommended for user consumption.

On the audit/compliance perspective, I would argue that source controller is not the source of truth in itself for such data, and t

[2022-03-04 12:10] uderik commented on #439
Same problem

[2022-03-04 12:27] stefanprodan commented on #602
I would introduce retention as global settings with the following defaults:

[code]

For the above, the controller will delete artifacts older than 120s while preserving the two most recent ones.

I'm reluctant on having these settings in custom resources since they would allow a tenant to fill the source-controller storage by setting:

[code]

[2022-03-04 13:00] pjbgf opened #603 "Use octal format (i.e. `0o755`) to represent file permissions"
This better represent permissions as Linux handles such information in octal format, meaning that the left-most `0` has an important meaning and is not to be ignored as normally integers would.

[2022-03-04 14:12] hiddeco commented on #602
Due to the fact that we make last-mile modifications, I am not sure this is true.

I would say this could be prevented by allowing an administrator to configure a max, at which the user defined value is capped.

[2022-03-04 15:37] stefanprodan commented on #602
Ok so maybe the flags should have a `max` suffix.

[2022-03-06 19:50] chuegel commented on #582
This happens with rke2 deployed clusters as well. See: https://github.com/rancher/rke2/issues/2156

Fixed in version  v1.23.4+rke2r1

[2022-03-07 14:54] pjbgf commented on #582
Relates to upstream OpenShift issue: https://github.com/openshift/cluster-kube-apiserver-operator/issues/1325

[2022-03-11 07:21] wangyikewxgm opened #608 "How can I use a public OSS bucket without any secret."
I want to use the helm chart https://starship-charts.oss-cn-hangzhou.aliyuncs.com/charts/nacos-2.0.3.tgz as source chart without any secret, because this is public bucket.

[2022-03-11 08:14] ronald-hadrian commented on #439
Same problem here, after upgrading to `v0.27.3`

[2022-03-11 09:47] #587 closed

[2022-03-11 14:58] hiddeco commented on #478
This has been solved by the recent update to libgit2 `1.3.x`, which does no longer swallow errors.

[2022-03-11 14:58] #478 closed

[2022-03-11 15:56] hiddeco opened #610 "Unique (HelmChart) Artifact URLs"
At present, the Artifact file name (and thus URL) is composed out of _just_ chart metadata. Due to the way Helm chart builds are not reproducable, this may cause issues on the consumer side when a chart is rebuild due to e.g. a controller restart, but advertised on the same URL. As this causes a mismatch in the checksum calculation.

Given a checksum mismatch error triggers a lot more red flags fo

[2022-03-15 09:34] darkowlzz commented on #608
Hi, since this is a packaged chart, you can create a helm repo index for it, following the docs here https://helm.sh/docs/helm/helm_repo_index/ . And then you can create a HelmRepository object that points to the index. A HelmChart object can refer to the helm chart in the created HelmRepository and use it.
If it was an unpackaged helm chart, you could create a Bucket object and HelmChart object r

[2022-03-15 10:48] falmotlag opened #614 "Unable to authenticate with Artifactory HelmRepository - Unauthorized"
## Summary
source-controller is unable to authenticate with private Artifactory using basic authentication, returning `401 Unauthorized`.

## Create HelmRepository

### Manifests
Created the following `HelmRepository` and `Secret`:
[code]

### Authentication method
Basic authentication using username and password. I'm using my personal Artifactory username and a generated API Key to authenticate w

[2022-03-15 10:51] hiddeco commented on #614
Please ensure first that none of the base64 values accidentally ends with a newline and/or space. Good: `echo -n "api-key" | base64`, bad: `echo "api-key" | base64`.

[2022-03-15 11:21] falmotlag commented on #614
This fixed it the issue. using `echo -n` append an `=` to the encoded string.

What is interesting is that decoding the secret that was encoded by `echo "api-key" | base64` resulted in a correct decoded secret, which made it difficult to debug.

Thanks!

[2022-03-15 11:21] #614 closed

[2022-03-15 12:31] wangyikewxgm commented on #608
@darkowlzz Hi, thanks for your patient answer. My question truly is  this  helm chart store in a public bucket, everyone can fetch it without an auth token. But when I create a bucket object pointing to this chart without token will generate an error that I must set one. Can I just want to use this bucket without any secrets?

[2022-03-16 02:32] sbernheim commented on #490
@ninja9k1 - I assume by now that you've resolved this issue for your local `gitops` installation, but I'll add a response to this Issue in case anyone else finds it and needs the same solution.

The `gitops` CLI uses your local user's `~/.ssh/known_hosts` file as the source for this key, and this error generally means that you need to remove the old RSA host key and add the new ECDSA host key in t

[2022-03-16 16:20] darkowlzz opened #617 "Test the order of status conditions"
All the reconcilers have their own set of status conditions with priorities which are considered while summarizing the status conditions.
There's no test at the moment to ensure that we don't break the order of the status conditions unintentionally.

The tests for this would to run `SummarizeAndPatch()` with different combinations of status conditions for each of the reconcilers using their set of

[2022-03-16 16:27] darkowlzz opened #618 "Document the usage of experimental managed transport for libgit2"
https://github.com/fluxcd/source-controller/pull/606 added experimental managed transport for libgit2. Before releasing it, it needs to be documented in the flux docs describing what it is and how to use it.

[2022-03-17 09:49] huzerun0306 opened #620 "The self-developed git platform reports an error in clone, invalid pkt-len found"
In addition to the several gits provided in the documentation, AWS CodeCommit, Azure DevOps, Bitbucket, GitHub, GitLab. Whether other self-developed git platforms are supported.
Because GitRepository only needs git clone, but when I use the self-developed git platform, I get an error in git clone

[code]

I searched the documentation, source code and online materials and found no errors related to

[2022-03-18 08:43] stefanprodan commented on #620
Please try changing the Git implementation to libgit2 and see if works:

[code]

[2022-03-18 18:07] tehlers320 commented on #527
I just tried flux 0.27.4 souce-controller still uses an excessive amount of resources

[code]

All HCs have 10m interval and all point to the same 30mb index.yaml
[code]

I've set --concurrent=8 which we need to process the large queue but it makes cpu/memory worse by the factor of concurrency. Whats it chewing on?

[2022-03-18 19:51] hiddeco commented on #527
Can you also provide the output for `kubectl get ... | wc -l` for the other source kinds? In addition: what is the average size of a cloned repository, and what is the Git implementation you have configured?

Reason I am looking into this direction is that charts from Helm repositories should leave little to no memory footprint, as we do not attempt to load them, unless last-mile modification are

[2022-03-18 21:15] tehlers320 commented on #527
@hiddeco better than that, i think i have it fixed. https://github.com/fluxcd/source-controller/pull/625

[2022-03-23 07:09] #618 closed

[2022-03-23 08:46] #527 closed

[2022-03-23 17:24] coover-anovaa commented on #439
Still encountering this issue after updating to 0.28.0

It alternates with unable to clone: transport closed

[2022-03-24 13:58] FelipeMFlores opened #634 "Accept empty username on http basic authentication"
Currently, source-controller does not accept a secret with no username as credential for HTTP Basic Authentication :
https://github.com/fluxcd/source-controller/blob/3cbb89d63bb6f779fa08ca0ab5191406b12196c8/internal/helm/getter/getter.go#L43-L57

However, HTTP Basic Authentication protocol permit having no username, e.g. `:password`, which would be `Basic OnBhc3N3b3Jk`.

I propose accepting a secr

[2022-03-24 14:39] hiddeco commented on #634
The snippet you are referring to matches Helm's logic, in which a username is always required to be configured on the `HTTPGetter`. See: https://github.com/helm/helm/blob/c137bfb68b4f8b7a10687f043b0dbccb09574969/pkg/getter/httpgetter.go#L73-L75

[2022-03-24 18:44] FelipeMFlores commented on #634
I see,I really wanted this change, but I guess it makes sense being consistent with helm. Thank you for the response.

[2022-03-24 18:44] #634 closed

[2022-03-24 20:13] pjbgf opened #636 "Experimental Managed Transport - Known Issues"
[Version v0.22](https://github.com/fluxcd/source-controller/blob/main/CHANGELOG.md#experimental-managed-transport-for-libgit2-git-implementation) introduced an experimental managed transport to move towards fixing some stability issues when executing git network operations.

This issue catalogues all known issues with the new transport and their respective statuses. Please note that some of this i

[2022-03-24 20:18] pjbgf commented on #636
Some of the SSH issues may be connected a concurrency issue calling `ssh.Dial` as reported upstream: https://github.com/golang/go/issues/27140

[2022-03-25 07:40] failytaler commented on #124
Any progress on this?

[2022-03-25 13:21] #620 closed

[2022-03-25 19:45] pjbgf commented on #439
At my test environment it seems that fixes on PR #636 resolves all intermittent issues with SSH - when using the experimental transport. We should release a new minor with this at some point next week.

For information on how to test the fix ahead of time:
https://github.com/fluxcd/source-controller/pull/637#issuecomment-1079369587

[2022-03-28 14:45] abhay-fareye opened #645 "not able to clone private repo, error: object not found"
since 23rd march we are facing an issue with the source controller, it is not able to clone our private repo and giving below error :
[code]
Deployment yaml :

[code]

git repo structure :

![image](https://user-images.githubusercontent.com/62588940/160423270-a40977ba-9d0d-4808-a6d7-e6a22c83fd78.png)

we have not made any change in git repo as well as flux config, it seems like this stopped workin

[2022-03-28 15:00] pjbgf commented on #645
@abhay-fareye do you mind sharing the output of `flux version` or provide us with the versions of all flux components running in your cluster please?

Would you mind to give it a try using the `libgit2` implementation to check whether that works better for you? To do so, you need to change the `gitImplementation` value to `libgit2` in your `GitRepository` object.

[2022-03-28 15:21] pjbgf commented on #636
The first release with the fixes is now out, to test them you must first opt-in to the managed transport by setting the environment variable `EXPERIMENTAL_GIT_TRANSPORT` to `true` in the `source-controller`'s Deployment.

You can do that directly in your `kustomization.yaml` with:
[code]

Note that managed transport only works with the `libgit2` implementation, and therefore your `GitRepository` o

[2022-03-28 15:36] pjbgf commented on #439
@uderik @ronald-hadrian @coover-anovaa @jakubhajek @mkoertgen @mksony would you mind to try out our [experimental Managed Transport](https://github.com/fluxcd/source-controller/issues/636#issuecomment-1080789920) to confirm whether it fixes the issues you experienced?

This error (`error waiting on socket`) should be fixed by the new approach which reuses SSH connections instead of attempting to o

[2022-03-28 18:03] abhay-fareye commented on #645
@pjbgf thanks for looking into it, please see response below :
flux version : did not run for me, we are using fluxv2 not sure if it is related to that

flux component versions we are using :
- ghcr.io/fluxcd/source-controller:v0.13.0
- ghcr.io/fluxcd/helm-controller:v0.10.1
- ghcr.io/fluxcd/kustomize-controller:v0.12.1
- ghcr.io/fluxcd/notification-controller:v0.14.1

flux cli version : flux --ve

[2022-03-29 08:38] mfamador commented on #402
@pjbgf, will do that, thanks. Removed the cronjobs that are restarting the source-controller every 30 mins and will monitor and let you know if the issue is gone.

[2022-03-29 10:17] pjbgf commented on #645
@abhay-fareye you are currently running on very old versions of all controllers and the CLI. There has been a huge amount of work in improving overall stability of Flux since version `v0.12.3` was released.
Can you please install the latest version of the Flux CLI, [upgrade the Flux components](https://fluxcd.io/docs/installation/#upgrade) and then try again?

[2022-03-29 12:05] pjbgf commented on #131
Closing this as [PR#524](https://github.com/fluxcd/source-controller/pull/524) was merged and added proxy options from version [v0.21.0](https://github.com/fluxcd/source-controller/blob/main/CHANGELOG.md#0210) onwards.

Happy to reopen in case there something still missing.

[2022-03-29 12:15] pjbgf commented on #436
@paulcarlton-ww since last update a lot has change on the way we manage our `libgit2` dependencies at both development and runtime. Now we use pre-compiled static versions to ensure consistent results across the board.

Would you mind to please try again with the latest version and let us know how you get on?

[2022-03-29 12:29] pjbgf commented on #565
@ZeroDeltaAlpha did you get a chance to try on Kingdon's recommendation for your main issue?

On the timeouts not being honoured, a current fix we have for this is to use the Libgit2 Managed Transport we have recently released. Here's how to enable and use it: https://github.com/fluxcd/source-controller/issues/636#issuecomment-1080789920

[2022-03-29 13:06] mfamador commented on #402
I have most of my GitRepositories with `gitImplementation: libgit2` but also have a few with `gitImplementation: go-git`, maybe that's the reason for `source-controller` and `image-automation-controller` crashing when `EXPERIMENTAL_GIT_TRANSPORT` is set to `true` (?)

[2022-03-30 09:40] pjbgf commented on #402
@mfamador Thank you so much for providing this information. I am investigating further into this and can see a few improvements to be done already.

Would you be able to change your `log-level` to `trace` and provide the logs preceding the error so I can make sure I am fixing your specific problem? Feel free to redact repository names.

Are you experiencing the error at every reconcile or is this

[2022-03-30 09:44] ZeroDeltaAlpha commented on #565
Hi @pjbgf we moved onto ArgoCD, as It basically deadlocked our deployment pipeline.

Even using flux uninstall to remove state, git repos would immediately get into a state where they could never fetch commits and would also never timeout even if one was set. We tried to replicate on sandbox cluster and it worked fine but not on our production cluster.

[2022-03-30 09:44] abhay-fareye commented on #645
@pjbgf I tried setting `gitImplementation` to `libgit2` and it worked, the source is able to connect to git now.

just for information, can you explain how `libgit2` differs from `go-git` and why `go-git` stopped working all of a sudden?

we will plan to upgrade flux version to latest stable version as suggested.

Thanks for the help, i really appreciate it.

[2022-03-30 09:44] #645 closed

[2022-03-30 10:44] uderik commented on #439
Hi, no errors for almost 2 days

[2022-03-30 11:45] mfamador commented on #402
@pjbgf, I've set `trace` log level and EXPERIMENTAL_GIT_TRANSPORT to true.

It seems that `source-controller` is crashing (most of the times, not 100%) when I reconcile this libg2 GitRepository, despite the reconcile command returning success:

[code]

Some logs when reconciling:

[code]

[2022-03-30 11:47] mfamador commented on #402
I guess it crashes when reconciling for the second time only.

[2022-03-30 11:53] pjbgf commented on #645
@abhay-fareye great to hear it is working for you now! :tada:

We have two git implementations given the unfortunate situation in which our upstream libraries do not support all features we want to provide to our users, so we have to make them both available. Our documentation highlights the key differences between them: https://fluxcd.io/docs/components/source/gitrepositories/#git-implementation

[2022-03-30 13:44] #617 closed

[2022-03-30 14:28] pjbgf commented on #402
@mfamador that's absolutely fine, thank you for all the information. We will be releasing a minor patch today including a potential fix for this under version `v0.22.5`.

[2022-03-30 17:18] mfamador commented on #402
@pjbgf I've just tried `v0.22.5` and despite not crashing I'm not being able to sync the libgit2 GitRepos.

[code]

[code]

[2022-03-30 17:22] mfamador commented on #402
This might be useful for your troubleshooting perhaps:

[code]

[2022-03-30 17:24] stefanprodan commented on #402
That `timeout: 20s` should be `timeout: 5m`, based on my tests libgit2 cloning is not reliable with short timeouts.

[2022-03-30 17:53] mfamador commented on #402
I've changed the GitRepo timeout to `5m` but still no success on reconciling (I had 1 successful reconciliation after a source-controller rollout restart, but could never reproduce it again).

[code]

[code]

[2022-03-30 19:23] mfamador commented on #402
Despite this issue with the experimental git transport flag, without it, the new versions seem to hold up for a long time without getting stuck.

[code]

<img width="902" alt="Screenshot 2022-03-30 at 20 21 11" src="https://user-images.githubusercontent.com/3995249/160914206-9bc8174f-d98f-438a-b0ad-de66efccf6ad.png">

[2022-03-31 03:45] rashedkvm commented on #124
Hi flux firends! I am actively working to complete PR #450. I am updating the OCIRepository reconciler implementation to match the new standard used in other reconcilers within this project.

Additionally, I propose to add  "CertSecretRef" to OCIRepository spec as suggested in PR #450. The "CertSecretRef" will be optional and can have a name of a secret that contains certificate data. It will be u

[2022-03-31 05:52] stefanprodan commented on #124
@rashedkvm please hold off the implementation, we need to decide on how the API will look.

Everyone please add your feedback on the [Flux OCI support for Helm](https://github.com/fluxcd/flux2/pull/2597), once the RFC is approved we can move forward with the implementation.

[2022-03-31 16:32] steveizzle opened #652 "Github Enterprise SSH handshake failing"

[2022-03-31 17:58] kingdonb commented on #593
If you haven't already found the `--cluster-domain` option of `flux bootstrap`, this is the intended way to set the cluster domain. Some users are not using bootstrap and that might be a separate issue.

We don't recommend using the manifests directly out of the development repository, right now at least, as there are some subtle differences with the manifests that get installed by `flux install -

[2022-04-01 06:38] stefanprodan commented on #593
Relaying on Kubernetes DNS search it’s not something we want, each call will result in at least 3 queries. People have to option to specify their cluster domain at bootstrap, so we can avoid spamming the DNS when the controllers talk to each other, and they do that a lot, both to source-controller and notification-controller.

[2022-04-01 09:27] pjbgf commented on #652
@steveizzle thank you for reporting this. Do you mind sharing what `gitImplementation` are you using?

[2022-04-01 09:32] pjbgf commented on #652
Can you also confirm whether this is consistent and every single reconcile yields the error mentioned, or is intermittent and happens every so often?

Would you mind running the latest version of `source-controller` and enabling the experimental transport to see whether the issue persists? Here are more information about it: https://github.com/fluxcd/source-controller/issues/636#issuecomment-10807

[2022-04-01 09:34] steveizzle commented on #652
I used go-git and tried now libgit2. With libgit2 it is working.

Sure, i will give it a try and report back

[2022-04-01 10:07] steveizzle commented on #652
The error seems to be consistent.

As soon as i enable the experimental transport neither libgit2 nor go-git is working:

[code]

We found out that one repository is using an ED25519 Key which seems to be still working. Normally we use RSA keys.

[2022-04-01 10:14] pjbgf commented on #652
Thanks for that. Do you mind sharing the errors you get when using `libgit2` and the experimental transport?

[2022-04-01 16:30] willchan commented on #593
This explanations make sense. Thanks.

[2022-04-01 16:30] #593 closed

[2022-04-03 14:21] uderik commented on #439
Over a time image-automation-controller:0.21.3, can't connect to GitLab with error:
`
unable to clone 'ssh://git@gitlabhost/gitops/my-gitops': transport close (potentially due to a timeout)
`
after pod restart, it's return to normal work

[2022-04-04 11:11] pjbgf commented on #439
@uderik did it stop working after the error? IAC should be able to self-heal from such issue and just carry on business as usual.

What's the interval you currently have set for the repository that had the issue?

[2022-04-04 13:12] peterfication commented on #439
I had the same issue and tried the new version with the `EXPERIMENTAL_GIT_TRANSPORT` set to `true` and now there are no errors for me anymore as well 💪

[code]

[2022-04-04 13:36] uderik commented on #439
@pjbgf on two clusters (us-east-1 and ap-southeast-1) same issue, many errors with transport close (potentially due to a timeout) and no updates
on another cluster (eu-central-1) see pod restarts with last error:
[code]
maybe it has something to do with the location of the clusters , gitlab location eu-central-1

gitrepo interval 1min, timeout 2min

see attach for pod crash log
[pod_crash.log](htt

[2022-04-04 16:24] mkoertgen commented on #439
Same for as observed by @uderik

[2022-04-05 00:58] jacobbaek opened #654 "mapping values are not allowed in this context"
Hi,

I gonna use private helm chart repository that is working on GitLab CE.
So i made helmrepository and helmrelease following this [guideline](https://fluxcd.io/docs/components/source/helmrepositories/).
but as you can see, below error message printed for helmrepsitory resource that i made.
``
jacob@dubaekPC:~/workspace/flux$ kubectl get helmrepository -n ingress-nginx
NAME                 URL

[2022-04-05 06:42] aryan9600 commented on #654
Hey, did you by any chance use a tab character when adding `.spec.secretRef`? YAML doesn't [allow tabs](http://yaml.org/faq.html).

[2022-04-05 06:53] jacobbaek commented on #654
Hi aryan9600,

i already check the tab character are in the yaml file.
But i can not find and there is only whitespace.

below result that is run 'set list' on the VIM.
[code]

[2022-04-05 07:31] pjbgf commented on #636
Re-opening due to new issues reported (items 6 to 8) - issue description updated accordingly.

[2022-04-05 14:13] pjbgf opened #656 "Git Operations Test Server"
The test coverage around git operations heavily relies on [gitkit](https://github.com/sosedoff/gitkit) for self-contained tests. For E2E tests we also rely on directly accessing SaaS providers (e.g. GitHub) to ensure that our git implementation is consistently working across all out supported platforms.

Unfortunately, different SaaS providers support a different range of crypto algorithms, Git pr

[2022-04-05 18:46] hiddeco commented on #654
The problem is likely that GitLab does not serve the expected `index.yaml` on `https://gitlab.example.com/anyone/ingress-cache-helm/index.yaml`, resulting in the source-controller (and Helm) attempting to consume the HTML document that is being served as YAML. Eventually resulting in this error.

You either need to figure out what the right URL is for static GitLab content (like `https://raw.githu

[2022-04-05 18:53] hiddeco commented on #654
We could be nicer (like the `helm` CLI), and report something along the lines of:

[code]

[2022-04-06 01:08] jacobbaek commented on #654
Thanks @hiddeco

I was confused, the error message was happen by parsing the YAML. i did not think about the fetching the helm chart index.html.
I checked for helm chart has index.html and it's work with that helm chart Repo is working.

Also you suggest to improve the error message, right?
I also agree and hope to change the message.

Thanks for your kindly support.

[2022-04-06 06:19] aryan9600 opened #657 "Expose metrics about internal operations during a reconciler run"
At the moment, we only expose the readiness of the object and the duration of the reconciler run. It'd be helpful for both users and developers if we expose metrics about internal ops such as garbage collection, remote operations (git fetch, helm pull, etc). This would enable us to analyze and optimize the operations and give users a clearer picture of how the controller is working.

[2022-04-12 13:11] pjbgf opened #666 "Improve documentation on debugging the controller locally"
The [DEVELOPMENT.md](https://github.com/fluxcd/source-controller/blob/main/DEVELOPMENT.md) could be improved to help users trying to debug problems or reproduce reported issues.

Things we could expand on:
- Suspend objects that are irrelevant to the test at hand.
- Environment variables
  - `HOSTNAME`: set to `source-controller`.
  - `RUNTIME_NAMESPACE`: limit the namespaces being watched.
- Argu

[2022-04-12 13:16] pjbgf opened #668 "Resolve index out of range when running locally"
The controller may panic depending on the `HOSTNAME` defined. This is not a problem when running as a pod with the default `source-controller` name, however, it fails when users try to run the controller on their local machines if `RUNTIME_NAMESPACE` is non empty and their machine names does not contain hyphens.

[code]
https://github.com/fluxcd/source-controller/blob/main/main.go#L317-L321

[2022-04-13 08:02] stefanprodan opened #669 "[RFC-0002] Implement Flux OCI support for Helm"
Implement Flux OCI support for Helm according to [RFC-0002](https://github.com/fluxcd/flux2/tree/main/rfcs/0002-helm-oci) specifications.

For e2e testing we can use: https://github.com/users/stefanprodan/packages/container/package/charts%2Fpodinfo

[2022-04-13 08:29] EdwinWalela commented on #668
How about checking the length of `svcParts` where if it's equal to 1 (meaning there is no hyphen) we return just the environment variable as it is?

[2022-04-13 08:50] stefanprodan commented on #124
[RFC-0002](https://github.com/fluxcd/flux2/tree/main/rfcs/0002-helm-oci) is now marked as implementable, thanks everyone for your feedback. The implementation can be tracked in https://github.com/fluxcd/source-controller/issues/669

[2022-04-13 10:45] pjbgf commented on #668
@EdwinWalela we should be able to remove that if block (and the two comments above it) completely and just rely on the `storageAddr` that is passed in. Are you keen on proposing a PR for this?

[2022-04-13 10:56] EdwinWalela commented on #668
@pjbgf That's even better. Sure, I can take this up

[2022-04-13 11:24] pjbgf commented on #668
That's awesome, @EdwinWalela. I have assigned the issue to you.

[2022-04-14 08:36] EdwinWalela opened #673 "Broken kustomize installation link"
https://github.com/fluxcd/source-controller/blob/a0070ce5febe1dc642d23d18e282816a23c68cfb/DEVELOPMENT.md?plain=1#L12

The link to installing Kustomize is returning a 404. I propose that the link should be updated to [this](https://kubectl.docs.kubernetes.io/installation/kustomize/)

[2022-04-14 08:50] pjbgf commented on #668
Fixed by https://github.com/fluxcd/source-controller/pull/672

[2022-04-14 08:50] #668 closed

[2022-04-14 08:54] pjbgf commented on #673
@EdwinWalela nice catch, please feel free to propose a PR with the change.

[2022-04-14 11:21] #673 closed

[2022-04-14 17:29] mfamador commented on #402
It's getting stuck again.

[code]

<img width="906" alt="Screenshot 2022-04-14 at 18 28 21" src="https://user-images.githubusercontent.com/3995249/163442079-9778dee2-7007-444b-9b1c-85acf0ef76a6.png">

[2022-04-14 17:46] pjbgf commented on #402
@mfamador thank you for reporting back. I have found a few scenarios in which this happens that are linked to some upstream issues (links below). In most cases I reproduced (with managed transport) it was related to concurrency. On my tests, depending at which point a new ssh is created, it gets stuck during before completing its handshake.

Would you mind trying to reduce your controller's concur

[2022-04-16 14:06] Legion2 commented on #317
Another important use case is that during a rolling deployment upgrade there is always one ready replica which can apply changes from a source. For example, someone pushes a broken flux configuration to git and the source controller and kustomize controller apply this configuration, which causes the source controller deployment to upgrade and get stuck because the new pod can not be scheduled. In

[2022-04-19 03:06] pembunuhraja85 commented on #669
Hello

[2022-04-19 06:08] bitva77 commented on #669
'sup

[2022-04-19 13:23] pjbgf opened #679 "Support Retry-After headers for GitRepository objects using HTTP(S)"
Git Servers may throttle operations when a given threshold (operations/time) is met.
If the controller continues to attempt cloning whilst blocked, it will impair the controller's ability to self-heal as some servers will keep extending the ban window.

The ban window length varies per service provider, in public GitLab for example this is set to 60 minutes.
Considering that the current default `-

[2022-04-19 16:04] alphabet5 commented on #131
@pjbgf PR#524 appears to only work for git access over HTTPS and not for proxying SSH with ProxyCommand/socat.

Am I misreading, or would that be a separate issue?

[2022-04-19 20:25] Abesyuffcjk commented on #603
@pjbgf

[2022-04-19 20:25] Abesyuffcjk commented on #636
[]()

[2022-04-20 06:45] hiddeco commented on #603
This has been addressed in #653

[2022-04-20 06:45] #603 closed

[2022-04-21 15:18] makkes opened #680 "SC panics with nil pointer dereference"
[code]
This is coming from https://github.com/fluxcd/source-controller/blob/v0.24.0/controllers/helmrepository_controller.go#L258 where SC in fact doesn't check if `newObj.Status.Artifact.Size` is nil, dereferencing it in any case.

I'm not sure in which situation this field would be nil but I don't see it set in older, working instances of SC, too.

[2022-04-21 15:22] cwyl02 commented on #680
I would like to work on this issue @makkes @hiddeco

[2022-04-21 15:23] makkes commented on #680
Thank you @cwyl02.

[2022-04-21 15:59] souleb opened #681 "Cache HelmRepository index early after reconciliation"
We have now an opt-in cache to hold a set of `helm indexes` in memory. This enable concurrent reconcilers to fetch `indexes` from memory instead of loading them from disk. The main benefit is to reduce memory pressure ( i.e. several reconcilers loading the same index in memory).

Nevertheless at start up time, with `--concurrent` flag set, which allows multiple concurrent reconciliation, in the cu

[2022-04-22 01:15] scardena opened #682 "gitrepository fails to authenticate"
I am running into authentication problems against github, and I am not sure why.
This is my gitrepository manifest:
[code]

I manually created the secret:
[code]

in which username is my github username, and password is my github PAT (Personal Access Token). To discard any permissions issues, I added all possible permissions to this PAT.
now I have 2 questions here:
1. how can I make sure that the

[2022-04-22 02:19] scardena commented on #682
ok so for some reason, manually creating the secret (`kubectl apply -f secret.yaml`), or modifying an existing one (`kubect edit secret`), doesn't work. it seems for the source controller to pick it up, you need to use the `flux create secret` command.
This worked for me:
[code]

[2022-04-22 02:19] #682 closed

[2022-04-22 08:42] #680 closed

[2022-04-22 11:28] aryan9600 commented on #602
Closed via #638

[2022-04-22 11:28] #602 closed

[2022-04-22 16:14] mfamador commented on #402
Got stuck again with this configuration

[2022-04-25 19:52] cwyl02 commented on #680
I think the root cause is that HelmRepository created with `v1beta1` version comes with [Artifact](https://pkg.go.dev/github.com/fluxcd/source-controller/api/v1beta1#Artifact) that doesn't include the Size field at all.

Then, when SC(v0.23.0+) reconciles an HelmRepository, it panics at that notify and cannot move on reconciling the object(including the API version). This is fixed in @makkes' PR.

[2022-04-26 09:13] pjbgf commented on #679
Example of throttling from Gitlab: https://docs.gitlab.com/ee/security/rate_limits.html

[2022-04-26 11:36] pjbgf opened #689 "Enable Libgit2 Managed Transport by Default"
Managed Transport was introduced in `source-controller` `v0.22` and ever since has been kept behind a feature gate.

This feature already behaves in more predictable ways than the unmanaged `libgit2` alternative.
Therefore, this feature should be enabled by default once all known issues are mitigated (#636) or there are good enough work-arounds for unmitigated issues.

[2022-04-26 18:26] makkes commented on #680
Great catch @cwyl02. Thanks for your persistence.

[2022-04-27 17:14] veeraghgoudar opened #693 "Source controller listing objects from S3 bucket failed probably due to larger size of the bucket"
We are running flux version 0.28.5. We are using s3 bucket as source where the size of the s3 bucket is around 2TB.

The reconciliation always fails with the below error
[code]

I have tried add the ignore files as shown below but it did not work. I have also tried increasing the timeout upto 10m for testing purpose

[code]

I am not sure if the ignore options is included in filter here - https://

[2022-04-27 19:13] mfamador commented on #402
And always in the same region, `north europe`. On other regions everything's working just fine.

[2022-04-27 21:11] cwyl02 commented on #681
hi, I am interested to work on this issue

[2022-04-28 07:26] stefanprodan commented on #693
I guess you don't have 2TB of Kubernetes YAMLs in there? I would create a dedicated bucket for Flux and have a Lambda function that syncs the YAML files from the 2TB bucket to the Flux one.

[2022-04-28 07:37] hiddeco commented on #693
As Stefan said, a Bucket is more like an enriched key/value storage, and we thus have to iterate over every key to see if it's a match and we can't e.g. "skip directories". The only trick left in this area that might help in your case, is [if we would support defining a "prefix" to which files must match](https://github.com/minio/minio-go/blob/master/examples/s3/listobjectsV2.go#L49-L52). This mak

[2022-04-28 08:00] veeraghgoudar commented on #693
@stefanprodan : Yes you are right. The bucket contains lot of other artifacts and not only Yaml files. As suggested by you we would go with a dedicated bucket for flux.

@hiddeco :  If the prefix option is supported in future then we might start using it. I was thinking Ignore option would solve this problem and I was wrong. Thanks for the explanation.

[2022-04-28 08:24] pjbgf commented on #402
@mfamador would you be able to check what is latency like between the clusters that have the issue vs the ones that don't?

[2022-04-28 12:54] pjbgf opened #697 "Fix test `x509Callback/Valid_certificate_authority_bundle` before upgrade to go 1.18"
From version `1.18`, golang errors when assessing a x509 certificate that uses SHA1 as a hashing algorithm.
We need to update the test data we are using in our `x509Callback` test so that this is resolved before source-controller moves on to go `1.18`.

Error:
[code]

File:
[pkg/git/libgit2/transport_test.go](https://github.com/fluxcd/source-controller/blob/main/pkg/git/libgit2/transport_test.go#L

[2022-04-28 13:41] aweris commented on #697
I could work on this, if it's okay.

[2022-05-02 18:17] angelokurtis opened #704 "Updating the `spec.ignore` field of a `GitRepository` has no effect"
### Describe the bug

When editing a `GitRepository` resource whose the `spec.ignore` field is already set the new ignored paths are not updated and the configuration has no effect.

### Steps to reproduce

1. Install Flux
2. Create a `GitRepository` setting the `spec.ignore` field. eg:
[code]
3. Check if the created resource is ready. eg:
[code]
4. Then, remove the  `spec.ignore` field. eg:
[code

[2022-05-03 18:09] mfamador commented on #402
@pjbgf I didn't make any formal test, but I'm pretty sure that the latency is bigger on the ones failing, yes.
All the source Git repositories are on Azure DevOps located in Canada, the `source-controllers` not getting stuck are on East US and the ones getting stuck are all in Nothern Europe.

I've created a bastion container on every cluster and cloned the git repos a few times from there, and de

[2022-05-04 12:21] EdwinWalela commented on #526
Hello @pjbgf, this issue seems to have been left out. Is a fix still needed? If so I'd be happy to work on it

Will the Helm version and tag need to change too? Currently, the [Minio Helm version](https://github.com/minio/minio/blob/master/helm/minio/Chart.yaml) is at `4.0.1`
https://github.com/pjbgf/source-controller/blob/f6029ab0f6085b41348e14be75e9b7378741c99f/hack/ci/e2e.sh#L9

[2022-05-04 13:58] pjbgf commented on #526
Yes, we still need to work on it - thank you for volunteering.

The goal is to move away from the unsupported version. It would be great to go for that latest version. :+1:

[2022-05-06 17:13] tiagoangelozup commented on #704
I'm not sure if the PR #687 is still in progress, but I opened the PR #710 as a solution suggestion for this issue.

[2022-05-06 17:18] angelokurtis commented on #704
I'm not sure if the PR #687 is still in progress, but I opened the PR #712 as a solution suggestion for this issue.

[2022-05-06 17:31] pjbgf commented on #397
The reason around hostkey's are not being 'properly agreed' on is that such agreement is based on preferred _advertised_ algorithms during the handshake. The problem we face can be shown here:

Server Preferred Host Keys: `"ssh-rsa"`, `"ecdsa-sha2-nistp256"`, `"ssh-ed25519"`
Client Preferred Host Keys: `"ssh-rsa"`, `"ecdsa-sha2-nistp256"`, `"ssh-ed25519"`
Known Key type provided: `"ssh-ed25519"`

[2022-05-09 13:26] pjbgf commented on #697
For folks experiencing this, a temporary workaround is having:

`export GODEBUG=x509sha1=1`

before running the tests.

[2022-05-10 10:57] #397 closed

[2022-05-10 20:47] samarthdd opened #716 "make docker-build failing for v0.16.0 - "/Makefile": not found"
I am trying to build source-controller v0.16.0 docker image.

"make" is successful with go version 1.16 and cmake 3.21.3
But "make docker-build" is failing with error "/Makefile": not found in libgit2

[code]

[2022-05-11 13:21] uderik commented on #439
problem still present

[2022-05-11 15:49] pjbgf commented on #439
@uderik would you mind testing the versions below and confirm whether that fixes your issue?

[code]

An user with a similar issue had this resolving. This is related to the in-flight PR: https://github.com/fluxcd/source-controller/pull/713

[2022-05-12 08:19] uderik commented on #439
@pjbgf CrashLoopBackOff log in attach
[image-automation-controller.log](https://github.com/fluxcd/source-controller/files/8676263/image-automation-controller.log)

[2022-05-12 10:39] mkoertgen commented on #303
Having the same issue with OOMKilled and with the information from #192 pinned it down to large helm-repo of bitnami with index-file alone having 13.4M

![image](https://user-images.githubusercontent.com/7235760/168051588-0e296c07-3caa-4ea3-9ced-0f39bf695e78.png)

[2022-05-12 10:44] stefanprodan commented on #303
For large Helm repository index files, you can enable caching to reduce the memory footprint of source-controller, docs here: https://fluxcd.io/docs/cheatsheets/bootstrap/#enable-helm-repositories-caching

[2022-05-12 11:07] mkoertgen commented on #303
Thanks for the documentation link @stefanprodan. That was helpful.

Removing bitnami-helm-repos in redundant namespaces brought down the mem-footprint to 190M, yet still peaking every 10min (helm repo update interval)

![image](https://user-images.githubusercontent.com/7235760/168057408-28c982e4-ace2-4c78-811b-1f5965b43455.png)

I will check on enabling helm-caching. Thanks again, much appreciated

[2022-05-12 11:29] mkoertgen commented on #303
Needed to update 0.28 -> 0.30 so the helm-cache-arguments were available.

`gotk_cache_events_total` looks good so far. Will observe the mem-footprint but for now seems to solve the issue, at least for me.

Thanks again.

[2022-05-12 12:11] mkoertgen commented on #303
Looks much better with helm-caching enabled

![image](https://user-images.githubusercontent.com/7235760/168071788-a95954de-6214-4639-8db4-86f84c83e0d2.png)

[2022-05-12 12:20] stefanprodan commented on #303
Yeap that's consistent with what I'm seeing on my test clusters, using source-controller cache brought the memory from 2GB down to 200MB.

[2022-05-12 14:12] pjbgf commented on #439
@uderik thanks again for sharing. I managed to reproduce and on my environment the changes seem to have fixed the problem. The new version have some changes we recently merged into main, which would recover git2go/libgit2 panics. Therefore if this would happen again you would see errors on the logs, but no crashes/restarts.

The PR is now updated and a new image created for source-controller:
`qua

[2022-05-12 15:30] pjbgf commented on #402
@mfamador thank you for sharing this. I think the latency may be causing the issue, the reason for that is that the crypto library has a known behaviour that if the stdout of a SSH session is not serviced fast enough, it may lead to the SSH connection to block.

Here's a release candidate version that I would be keen to see whether resolves the issues you are observing:
`ghcr.io/fluxcd/source-cont

[2022-05-12 17:09] kingdonb commented on #716
We have reproduced the issue you're describing here, and it appears you are correct. What we are not sure about is why you want to build this older version of Source Controller?

The version at this time had some issues which have been worked on, basically everything has changed about the way that source controller is built (libgit2 is now statically linked for example).

Can you give us a clue wh

[2022-05-12 19:37] pjbgf opened #719 "Add support for SAS Keys for Azure Blob"
Azure Blob supports a wide range of authentication methods. Flux supports all of them, with the exception of [SAS Keys](https://docs.microsoft.com/en-us/azure/storage/common/storage-sas-overview).

SAS Keys are a series of information, including a SAS Token, which are defined as query string parameters in the storage resource URI and are used by Azure for authenticating the request.
Source control

[2022-05-12 21:44] mfamador commented on #402
@pjbgf, thanks, I'll use this version on the problematic regions for a while.

[code]

[2022-05-13 10:51] pjbgf commented on #402
@mfamador yes, with the release candidate version you can revert to 4-6 as appropriate.

[2022-05-14 08:29] mfamador commented on #402
Unfortunately, it seems to get stuck the same.

I've been running the release candidate in both north European regions since yesterday.

[code]

While most of them are still reconciling:

[code]

one of them is stuck and never reconciles:

[code]

Nothing shows up in the logs when I issue the reconcile cmd on the stuck git repo, but when reconciling the other ones it already shows up:

[code]

As

[2022-05-14 21:42] suryapandian commented on #441
For the exact configuration given [here](https://fluxcd.io/docs/components/source/gitrepositories/) i.e)
[code]

I still get the error `unable to clone 'https://github.com/stefanprodan/podinfo': Get "https://github.com/stefanprodan/podinfo/info/refs?service=git-upload-pack": dial tcp: i/o timeout`
given that podinfo is a public repo, I am not sure why the GET is failing.

[2022-05-16 07:15] mfamador commented on #402
After a few days I got a different error:
[code]

[2022-05-16 15:28] souleb opened #722 "Add support for OCI Helm Artifacts when building remote dependencies"
We now support `HelmRepositories` of type `oci` to download helm Charts from OCI registries.

This is about enabling this feature when resolving chart dependencies during the build process.

[2022-05-16 15:34] souleb opened #723 "Add support for custom certs in HelmRepositories of Type oci"
Currently the `HTTP/S HelmRepository` type support passing a `secret` containing `certFile`, `keyFile`, and `caFile`. A TLSConfig is built from it and passed downstream to the `roundtripper`.

This issue is about adding this feature for `OCI HelmRepository` type.

[2022-05-17 15:29] Nosmoht commented on #439
Using

[code]

on GKE results in the same error. Surprisingly it was working for some days without any change. Source is Gitlab.

[2022-05-17 18:10] pjbgf commented on #439
@Nosmoht occurrences of this issue tend be intermittent and resolve itself. We have a few changes that should be released soon which should decrease their likelihood. On they are merged/released I will share on this thread.

[2022-05-23 10:08] Nosmoht commented on #439
@pjbgf any idea when a new release will be published?

[2022-05-24 13:55] pjbgf commented on #439
@Nosmoht We are aiming to have a release done between the end of this week and beginning of next.

[2022-05-25 08:14] campanellaf commented on #652
We are getting the same error suddenly after redeploying a test cluster that we deploy often (almost every day) and doesn't give any errors with Flux.

Is there any resolution for this, or just keep trying until it works?

[2022-05-25 09:57] thomasroot commented on #317
We are also facing this issue with version 0.29.5 :(

[2022-05-25 15:45] steveizzle commented on #652
I currently pinned an old version, but will spent some time on getting more debug Infos the next days

[2022-05-26 10:00] laithalissa opened #737 "Bucket reconciliation takes too long"
I'm publishing charts to an S3 bucket using the [helm-s3](https://github.com/hypnoglow/helm-s3) plugin. The objects in the bucket are versioned, and the bucket is located in eu-central-1.

I have a flux2 (v0.21.2) deployment in a cluster running in ap-northeast-1 and when I add a bucket resource, using the global S3 endpoint (which I'm hoping to keep using for simplicity), it takes over 8 minutes

[2022-05-26 10:10] stefanprodan commented on #737
Please upgrade your clusters to latest Flux (v0.30.2) then in Git bump the API version of all your Flux sources (GitRepositories, Buckets, etc) to `source.toolkit.fluxcd.io/v1beta2`. The Bucket implementation in v1beta2 comes will many improvements so hopefully is solves your issues.

[2022-05-26 12:14] laithalissa commented on #737
Flux (v0.30.2) running source-controller (v0.24.4) reconciles the same bucket source in under 15 seconds. Thank you very much for the support.

[2022-05-26 12:14] #737 closed

[2022-05-27 12:22] pjbgf opened #742 "Spec.Timeout Behaviour"
As per `v1beta2`, the Spec.Timeout documentation states:

With the introduction of `GitOptimizedClones`, Git clones are a lot faster when a no-op clone is identified. However, the process is split into two: the first part attempts an optimised clone, and in specific types of failures it goes on to try a full non-optimised clone.
In the worse case scenario (slow network or blocking Git server) a re

[2022-05-27 12:46] stefanprodan commented on #742
Ideally the timeout context should flow from one operation to another, so that a reconciliation would exit after the specified timeout no matter the number of internal operations.

[2022-05-27 13:54] pjbgf commented on #652
@steveizzle @campanellaf this may have to do with some of the crypto level settings that may have changed upstream.
So to confirm, you are using RSA for your authentication keypair, right? What is the algorithm used for the known_host you are providing?

We have just released a RC with some improvements specially around the `libgit2` implementation. Would you mind to also checking whether it fixes

[2022-05-27 13:59] pjbgf commented on #433
@flelain can you please try again with the RC we have just released:
`ghcr.io/fluxcd/source-controller:rc-4b3e0f9a`

I have recently tested this version against GCP and it worked fine, so would be keen to understand whether that fixes your issue.

[2022-05-27 22:33] pjbgf commented on #636
Fixed by the changes introduced in #689 and #727.

[2022-05-27 22:33] #636 closed

[2022-05-27 22:39] pjbgf commented on #436
Closing for lack of activity, happy to reopen in case of recurrence.

[2022-05-27 22:39] #436 closed

[2022-05-27 22:43] pjbgf commented on #323
There has been a ton of changes in our Git implementation since this was first reported. Have you tested it with the latest versions?

Is this still hapenning? If so, would you mind sharing what is the Git server being used?

[2022-05-29 10:13] pjbgf opened #745 "libgit2: Testing managed and unmanaged transport"
Given that `managed.InitManagedTransport` is an unreversible operation, and that we want to support both unmanaged and managed transport for at least a minor release, we might want to run tests against both when that makes sense, and skip when a specific test is transport sensitive.

Something around the lines of:

[code]

Potential follow-up of #744,  #727 and #718.

[2022-05-29 20:00] mfamador commented on #402
@pjbgf 2 days running with this new `rc` and didn't get stuck yet

[2022-05-30 07:59] Nosmoht commented on #439
@pjbgf i have the error within the image-automation-controller. Does it help if i use another source-controller image?

[2022-05-30 11:15] o6uoq opened #747 "Flux Get and Kubectl Get should mirror output, especially between Source Objects e.g Buckets and GitRepos"
**As a** Flux user
**I want** to be able to retrieve the full <name|url|path> when running a `get` against a source e.g. **git** or **bucket**
**So that** I am able to quickly and efficiently retrieve for full names, URLs and paths for sources

**Buckets**
[code]

**GitRepos**
[code]

You can find the exact bucket name by digging via kubectl:
`❯ kubectl -n flux-system get buckets.source.toolkit.fl

[2022-05-30 14:14] uderik commented on #439
@pjbgf image-automation-controller (image-automation-controller:v0.22.2-cacheless and Enabling experimental managed transport")
source-controller tag rc-4b3e0f9a
still restarting with:

`{"level":"info","ts":"2022-05-30T12:54:37.672Z","logger":"controller.imageupdateautomation","msg":"Starting workers","reconciler group":"image.toolkit.fluxcpanic: runtime error: invalid memory address or nil point

[2022-05-30 18:43] aryan9600 commented on #745
#746  addresses the same issue in a different way. Instead of using a `TestMain` and skipping tests, when required it places all the tests in different files strategically, leveraging the fact that golang runs tests in a package based on an alphabetical order of the file names in the package. This lets us run all the tests using unmanaged transports prior to any other tests, letting us test both m

[2022-06-01 16:05] serbaut commented on #439
quay.io/paulinhu/image-automation-controller:v0.22.2-cacheless seems to have resolved the issue for me.

[2022-06-02 07:12] Nosmoht commented on #439
Just tried with `quay.io/paulinhu/image-automation-controller:v0.22.2-cacheless` but still get the same issue.

[code]

[2022-06-02 07:18] aryan9600 commented on #439
Hi @Nosmoht, we are in the process of getting some improvements merged, which should fix this. Could you try this image `ghcr.io/fluxcd/image-automation-controller:rc-48bcca59` and confirm whether it solves the issue for you?

[2022-06-02 08:24] Nosmoht commented on #439
Hi @aryan9600,

tried, SSH error replaced by following:

[code]

[2022-06-02 08:49] aryan9600 commented on #439
I'm not familiar with the terraform provider, but the `GitRepository` source needs to have a `.spec.secretRef`, which provides a reference to the secret containing the private key and the password. You can create one using the cli: https://fluxcd.io/docs/cmd/flux_create_secret_git/

[2022-06-02 08:53] mfamador commented on #402
@pjbgf 5 days running with this new rc and didn't get stuck yet.
I've noticed though that it has a few restarts, not sure why yet. We have high resource limits so it shouldn't be OOM.

[code]

[2022-06-02 13:46] Nosmoht commented on #439
Hi @aryan9600,

as it is the `flux-system` Gitrepository it already uses the `flux-system` secret which contains `identity`, `identity.pub` and `known_hosts` already.

[2022-06-02 14:08] flelain commented on #433
Hello @pjbgf ,

Thanks for your feedback. I tested it out once again and it's still failing the same way (I used `ghcr.io/fluxcd/source-controller:rc-4b3e0f9a` for `source-controller` manager container).

But unless I'm totally mistaken, I doubt the issue is due to `source-controller`. Wouldn't it rather come from the `image-automation-controller`? Does it make sense? What I observe is that the `s

[2022-06-02 15:51] hazim1093 commented on #652
The issue still exists on [v0.30.2](https://github.com/fluxcd/flux2/releases/tag/v0.30.2).

@pjbgf I tried your RC with the `go-git` implementation, but no luck.
The algorithm we're using for known_hosts is `ecdsa-sha2-nistp256`

[2022-06-02 15:59] steveizzle commented on #652
@pjbgf Regarding the rc, Unfortunately the rc didnt fix the problem:

This is a example of a git repository in my test cluster:
[code]

[code]

[2022-06-02 16:05] steveizzle commented on #652
I also checked out the algorithms for the known_hosts and got the following:

Working:
- gitrepo1: 2 entries in known_hosts: keyA with ssh-rsa and keyB with ecdsa-sha2-nistp256
- gitrepo2: 1 entry in known_hosts: keyB with ecdsa-sha2-nistp256

Not Working:
- gitrepo3:  1 entry in known_hosts: keyB with ecdsa-sha2-nistp256
- gitrepo4:  2 entries in known_hosts: keyA with ssh-rsa and keyB with ecdsa

[2022-06-02 17:22] steveizzle commented on #652
I did not set the Experimental env Variable in the test with the rc.  Is this still necessary with the rc?

[2022-06-02 17:56] stefanprodan commented on #652
@steveizzle we have released source-controller yesterday with managed transport enabled by default. The official image is here: https://github.com/fluxcd/source-controller/pkgs/container/source-controller/23808902?tag=v0.25.0

Please test it with go-git and libgit2, no env var needed.

[2022-06-03 10:11] steveizzle commented on #652
Unfortunately we have got the same problem with v0.25.0 :(

[code]

[2022-06-03 11:29] stefanprodan opened #757 "No logs when an artefact is created or updated"
When SC pulls a new commit and creates or updates an artifacts it issues an event like so `stored artifact for commit 'Update source-controller to v0.25.1'`, this message is never logged. We really need to log on `NewArtifact` with the exact same message we use for events.

[2022-06-03 11:31] stefanprodan opened #758 "Garbage collection spams with logs and events"
Even if there is no new artifact, on every reconciliation SC spams the logs and events with:

[code]

And events too:

[code]

[2022-06-03 12:22] stefanprodan commented on #758
This was due to missing the CRD update for 0.25.0

[2022-06-03 12:22] #758 closed

[2022-06-03 14:32] oura-kataja opened #760 "Source controller support for Instance Metadata Service v2 (IMDSv2) on AWS"
I get the following error message in `source-controller` when Flux is configured to use S3 bucket source,:
[code]

I have created the bucket source with the following command:
[code]

.. and receive the following error message:
[code]

It appears that minio-go library uses Instance Metadata Service (IMDS) at `169.254.169.254` to create temporary credentials to access the S3 bucket (from captured t

[2022-06-06 04:35] aryan9600 commented on #402
Hi @mfamador, would it be possible for you to post the logs of the controller before it restarts? It'd go a long way to help in understanding what's happening. Thanks!

[2022-06-06 09:42] pjbgf commented on #402
@mfamador thanks again for helping us debug this. Would you mind to please run the command below against the clusters that are misbehaving?

`kubectl logs -n flux-system -l app=source-controller --previous`

[2022-06-06 09:48] mfamador commented on #402
@pjbgf

Here it goes:

[code]

[2022-06-06 10:01] trekawek opened #762 "Can't cross-build linux/amd64 image on Mac M1"
An attempt to build the recent source-controller (9e3304144bf20751a5748e539227627f874117e1) on Mac M1, targeting the linux/amd64 platform, fails with the error `cannot find -lcrypto`.

Other architectures: `linux/arm64` and `linux/arm/v7` work correctly.

Reproduction steps:
[code]

Output:
[code]

Docker version:
[code]

[2022-06-06 16:07] pjbgf commented on #704
Fixed by https://github.com/fluxcd/source-controller/pull/724 (581695b4d621fccb9b6a264b5dbcedf97151cec0).

[2022-06-06 16:07] #704 closed

[2022-06-07 05:08] christian1607 commented on #682
I faced the same problem, I could notice that the base64 encoding that **flux create secret git**  command generates was a little bit different  from what I created,  I solved by using the **-n**  options in the echo command at the time of generation the base64 secret.

`echo -n  $GITHUB_USER | base64`

[2022-06-07 09:15] jakubhajek commented on #439
hello Flux Maintainers!,

Thanks a lot for your great work!

I wanted to let you know that this issue can be closed and it is solved with the latest Flux 0.31.0 release. I have already tested the latest release and seems that I no longer experience the issue in all of my environments.

[2022-06-07 09:18] #439 closed

[2022-06-07 15:02] tparnold opened #768 "Latest version in HelmRelease does not pull expected version from OCI Registry"
### Describe the bug

The registry contains helm charts the versions 0.9.0, 0.10.0, 0.11.0, ...
When I configure a HelmRelease with the version "0.*", the helm chart with version 0.9.0 is pulled. Expecting the highest version to be pulled.

HelmRelease:
<pre>
spec:
  interval: 1m
  chart:
    spec:
      chart: demoapp
      version: "0.*"
      sourceRef:
        kind: HelmRepository
        name

[2022-06-07 20:14] souleb commented on #768
fixed in https://github.com/fluxcd/source-controller/pull/769

[2022-06-08 07:07] #768 closed

[2022-06-08 15:04] souleb commented on #723
on-going https://github.com/oras-project/oras-go/pull/171

[2022-06-09 12:32] pjbgf commented on #402
@mfamador after some additional changes I think we have a RC that may also mitigate the restarting issue.
The changes improve the connection management and resolves a leak that we were experiencing on specific scenarios.
Would you mind giving it a try please?

`ghcr.io/fluxcd/source-controller:rc-a00d0edc`

[2022-06-09 12:55] steveizzle commented on #652
I also let it ran with loglevel debug, but i think stacktrace doesnt help much:

[code]

[2022-06-09 16:05] souleb commented on #669
Did you follow the guide here: https://fluxcd.io/docs/guides/helmreleases/#helm-oci-repository?

You need `spec.type` set for an OCI Helmrepository.

[2022-06-09 20:42] adim commented on #669
already set it as oci, my YAML:
[code]

[2022-06-09 21:04] souleb commented on #669
The kubectl output says otherwise... Please open a separate issue for this.

[2022-06-09 21:33] uderik commented on #439
Look's like it's really fixed now, many thanks

[2022-06-09 23:35] IgorEulalio commented on #652
im facing same problem, but is a timeoud instead.

here is my GitRepository CRD:
[code]
[code]

Im using version v0.25.5, with a ssh-ed25519 ssh key.

I try to do some connections tests inside the docker container of SourceController, but the container doesn't allow turn into sudo to perform apk operations and install ssh, in order to perform ssh -v git@HOST.

Even i standing in corporate network,

[2022-06-10 12:51] makkes commented on #669
Yes, you need to install the latest CRD version that come with [Flux 0.31.0](https://github.com/fluxcd/flux2/releases/tag/v0.31.0).

[2022-06-10 16:52] pjbgf commented on #652
@steveizzle the repositories that are not working, are all of them on the same Git server?

Also, I noticed that the failing repos are using ssh-rsa for Auth-N, can you confirm that is enabled on the server?

We have released another release candidate that further improves on the connection management and observability.
Can you please give it a try using `--log-level=trace`?

`ghcr.io/fluxcd/sourc

[2022-06-10 17:13] pjbgf commented on #745
Closed by https://github.com/fluxcd/source-controller/pull/777

[2022-06-10 17:13] #745 closed

[2022-06-10 17:45] pjbgf opened #782 "Decomission Unmanaged Transport"
Based on the stability and reliability that Managed Transport introduced, we are planning the decommissioning of its counterpart.
Outstanding items:

- [ ] https://github.com/fluxcd/pkg/issues/245
- [x] Update Git documentation
- [x] Remove feature gate

[2022-06-12 09:19] adim commented on #669
It works , Thank you @makkes

[2022-06-13 08:38] mfamador commented on #402
@pjbgf after two days, we got 0 restarts and still reconciling with no issues.

[code]

[2022-06-13 08:41] steveizzle commented on #652
About the auth-N:

[code]

That should be a yes. And the rsa key is still working with the old version of the source controller..

Regarding the new rc:

[code]

[2022-06-13 13:00] hiddeco commented on #742
Can you elaborate on what makes you think this? Because I can only see this being extremely painful to a user, due to a variety of things:

1. It is hard to know the precise steps the reconciler process is going to take, and thus hard to get a stable median.
2. If we add steps to the process in the future, any old timeouts have to be updated to allow more room for the overall operation.
3. What if

[2022-06-13 13:51] flelain commented on #433
@pjbgf Just tested it out with the last two versions you pointed out above. **It's working fine now**: flux manages to amend the k8s manifests I have on my Google Cloud source private repo - access via SSH.

Thank you for your follow-up!

[2022-06-13 15:26] pjbgf commented on #433
@flelain thank you for confirming. :bow:

[2022-06-13 15:26] #433 closed

[2022-06-14 01:06] Kevinwoolworth commented on #652
i meet same issue. My flux env :
[code]

[2022-06-14 07:25] makkes commented on #742
Great points @hiddeco. Thanks for putting thought into this. The main benefit I as a consumer would see in treating the field value as an aggregated timeout is that you most likely want to tweak it from an end-to-end perspective, from creation of the resource until it gets ready. This is also the semantics that HelmRelease and Kustomization ship, right?

However, I understand that this makes our i

[2022-06-14 07:39] hiddeco commented on #742
If you look at e.g. a HelmRelease, it has a global `.spec.timeout` configuration which is used as a per-action base. Which can then be further fine-tuned for individual Helm actions (e.g. install or upgrade) using `.spec.<action>.timeout`. This provides the user with specific control over actions they can measure themselves (using e.g. `helm` from within a cluster container).

[2022-06-14 19:09] mfamador commented on #402
@pjbgf after 4d had a few restarts, adding the logs:

[code]

[2022-06-15 15:34] mfamador commented on #402
In the other cluster, same region, 0 restarts over the last 5 days, pretty stable and working fine:

[code]

[2022-06-16 10:26] aryan9600 commented on #652
@Kevinwoolworth @steveizzle would it be possible for you to post the description of the secret that the `GitRepository` object refers to by running `kubectl describe -n <your-namespace> secrets <your-secret>`? Thanks

[2022-06-19 09:41] nalbury opened #787 "[helm-oci] ECR auth expires"
While attempting to set up ECR as an OCI chart repo, we followed the recommended pattern [here](https://fluxcd.io/docs/guides/cron-job-image-auth/#using-cronjob-to-sync-ecr-credentials-as-a-kubernetes-secret) to configure a Kube secret with the required registry credentials for the OCI repo, but noticed that the source controller only seems to fetch this secret once on boot. This unfortunately mea

[2022-06-22 11:51] stefanprodan opened #790 "[OCIRepository] Implement basic auth with static credentials"
Implement basic auth as described in the RFC [Flux OCI support for Kubernetes manifests](https://github.com/fluxcd/flux2/pull/2601).

⚠️ The implementation PR should be made for the [oci branch](https://github.com/fluxcd/source-controller/tree/oci).

## Spec

For private repositories hosted on DockerHub, GitHub, Quay, self-hosted Docker Registry and others,
the credentials can be supplied with:

[

[2022-06-22 13:12] rashedkvm commented on #790
@stefanprodan I would like to work on this feature for the OCIRepository API.

[2022-06-22 13:24] kitos9112 opened #791 "Mount a Git repository as a volume for another pod"
Hi!

This might sound a little bit awkward, but I have a very simple use case and I thought about re-using the existing GitRepository CRD deployed to the cluster that contains a Git repository.

Is there any easy way to mount the content of this Git repository as a volume for a pod?

I looked at using a sidecar container that runs https://github.com/kubernetes/git-sync

Thanks in advance!

[2022-06-22 14:04] kitos9112 commented on #791
Quite comprehensive answer. Many thanks @kingdonb

My use case is super simple, so I'll look into mangling my controllerSet Pod specification to run this git-sync sidecar alongside.

Naively, I wanted to avoid further cognitive load as the tarball was already present behind that API call you mentioned. I removed the network policies in my current deployment (not running a multi-tenancy cluster), b

[2022-06-22 14:04] #791 closed

[2022-06-23 07:13] aryan9600 opened #793 "Using libgit2 to checkout on BitBucket Server returns a 401"
Using libgit2 (with managed transport enabled) to checkout repos on BitBucket Server,  with a **non-blank username but empty password**, returns a response with 401: ` failed to checkout and determine revision: unable to fetch-connect to remote 'https://gitops-bitbucket-test-server.eastus.cloudapp.azure.com/scm/git/flux2-kustomize-helm-example.git': Unhandled HTTP error 401`.
In such cases, we sho

[2022-06-23 13:01] steveizzle commented on #652
@aryan9600 Sure, we switched to working authentications, but i surely will help to assist on this issue:
[code]

[2022-06-24 08:06] sofib-form3 commented on #131
@pjbgf to use socat-sidecar in a source-controller pod, where source-controller does not run as a root and filesystem is readonly, the setup does not suffice. A co-located pod running socat container requires source-controller to know its ip (to alias github.com) which is problematic for maintaining that relationship reliable.
How much effort is it to support `.ssh/config` and ProxyCommand?

[2022-06-27 12:02] nalbury commented on #787
As requested (had to redact some account IDs and some of the values as they're work specific):

HelmRepostitory:
[code]

HelmRelease
[code]

Source Controller logs:
[code]

[2022-06-27 13:42] stefanprodan commented on #787
We'll probably have to use @souleb's fork of Helm until this gets merged: https://github.com/helm/helm/pull/11086

[2022-06-27 18:58] kbelosevic opened #798 "[OCIRepository] GCP Artifact Registry Auth - Helm OCI 403 error"
Hello,

I am not sure what am I doing wrong but following error message is received:

[code]

Versions:
[code]

Config in flux:
*HelmRepository*
[code]

*HelmRelease*
[code]

Status shows ok:
[code]

Workload identity service account attached to `kustomize-controller`, `source-controller` and `image-reflector-controller` all have `roles/artifactregistry.reader` attached to them in `artifact-regist

[2022-06-27 19:53] darkowlzz commented on #798
Hi, OCI HelmRepository doesn't support auto-login at the moment. It's planned to be added in the future, but at the moment, you have to pass credentials in a secret reference as shows in https://fluxcd.io/docs/components/source/helmrepositories/#basic-access-authentication.
As a workaround, you can create a short lived access token using the workload identity in a CronJob and put it into a secret

[2022-06-28 07:05] souleb commented on #787
I have tested the fix with the following scenarios
- ecr registry -> eks cluster with a cronjob rotating the ecr token
  1. create the secret
  2. create a helmrepository and a helmrelease
  3. confirm successful reconciliation
  4. wait 12h hours for the token expiration
  5. confirm that it still works
- github registry -> manually rotating the PAT in the kubernetes secret
  1. create the secret

[2022-06-28 07:15] kbelosevic commented on #798
Thank you for the information.
Is there any ETA on when auto-login or similar will be available such as native AWS, GCP login with `image-reflector-controller` ?

[2022-06-28 10:53] darkowlzz commented on #798
There's on going work to extract that code from image-reflector and use it in other projects. It's being tracked in https://github.com/fluxcd/image-reflector-controller/issues/264 .
There's no ETA as far as I know. In order to make sure we don't break anything, we are adding integration tests in https://github.com/fluxcd/image-reflector-controller/pull/275 and the registry login code has already b

[2022-06-28 17:20] pjbgf commented on #441
@suryapandian the problem you are experiencing seems to be different than the one reported on this issue. In your specific case, it may be an intermittent network related issue, which was more likely to occur before `v0.25.*`. Can you please try again with the latest version of source-controller and if the error persists, please create a new issue with as much information of your setup as possible

[2022-06-28 17:36] pjbgf opened #800 "Improve user friendliness for invalid `GitRepository` URL formats"
`GitRepository` objects require the SSH URL to be in a specific format, as per [documentation](https://fluxcd.io/docs/components/source/gitrepositories/#url):

However, when users use the unsupported format they are presented with non-user friendly error messages such as:

[code]

As part of improving the user friendliness of the error message. The same validation should be used, and the same erro

[2022-06-28 17:37] pjbgf commented on #441
Closing this issue in favour of https://github.com/fluxcd/source-controller/issues/800, that will improve the error message when invalid formats are used.

[2022-06-28 17:37] #441 closed

[2022-06-29 10:46] nalbury commented on #787
Yup deployed an image built from your branch this morning. Should be able to verify this evening once the currently loaded token expires.

[2022-06-29 11:13] pjbgf opened #802 "Improve error message when users don't configure the password for password-protected SSH keys"
Flux supports the use of password-protected SSH keys. When they are being used, users must provide it via a `password` field on the same secret in which the `identity` (private key) and `known_hosts` are provided.

If users forget to provide such a password, they end up getting the error below:
`error: error creating SSH agent: "SSH agent requested but SSH_AUTH_SOCK not-specified"}`

The error mes

[2022-06-29 11:21] pjbgf commented on #565
@ZeroDeltaAlpha thank you for getting back to me on this.

The first issue was fixed by https://github.com/fluxcd/source-controller/pull/740, so `GitRepository` reconciliations should no longer hang indefinitely on latest versions of Flux.

The second issue is caused by using password-protected SSH keys without providing its password to Flux. The error message is really not user friendly, so I cre

[2022-06-29 11:56] #787 closed

[2022-06-29 12:01] #798 closed

[2022-06-30 07:55] sofib-form3 commented on #131
@pjbgf let me give you a bit of context that will also contain information collected from this issue.
I'd like to use deploy keys which means the SSH connection will go over default port 22. To proxy such requests to github in any case I need resolvable github.com to a private ip to which a route exists. In case of a sidecar the ip would be the same as the ip of a pod.

To achieve this it is neces

[2022-06-30 09:09] gfichtenholt opened #805 "Flux fails to login to HTTP OCI registry where helm CLI logs in"

[2022-06-30 09:51] souleb commented on #805
A comment after looking at the code.

The difference between when the `helm cli` is used vs `source-controller`:
- the cli tries 2 endpoints `https` then `http`.
- the source-controller tries only one endpoint, the `https``

In order to use try both endpoints, `insecure` is set. Do you provide that flag to the cli?

Flux does not support the insecure option yet. I will add a separate issue to trac

[2022-06-30 10:06] souleb commented on #805
Also this:

[code]

That explains why it tried both endpoints. It has to do with the `port-forward` to localhost.

[2022-06-30 10:46] pjbgf commented on #402
@mfamador have the restarts kept at `0` now we are a few weeks in?

[2022-06-30 12:31] pjbgf opened #806 "Create a new flag to block use of HTTP endpoints for sources"
A new flag could be created to block the use of HTTP endpoints for acquiring sources.
When enabled, the flag would not allow the use of the `http` scheme across all controller-level objects.

## :memo: To do:
- [ ] Disable HTTP scheme for `GitRepository`.
  - [ ] Disable managed transport redirect from HTTP to HTTPS.
- [ ] Disable HTTP scheme for `HelmRepository`.
  - [ ] Default type.
  - [ ] OCI

[2022-06-30 14:41] souleb commented on #806
note that, for helm sources at least, we can set the `insecure flag`. This, would prevent user for doing so.

[2022-06-30 14:44] souleb opened #807 "Add support for insecure registries in HelmRepositories of Type oci"
The idea is to provide the ability to declare a registry as `insecure` and to be able to communicate with the `http` scheme.

[2022-06-30 15:18] gfichtenholt commented on #805
I did not. Commands were issues exactly as I've stated above. Its a copy and paste from my terminal

👍 That's another long standing issue with flux I've had. Thanks for filing it, saves me work

[2022-06-30 15:20] gfichtenholt commented on #807
Could you please implement this for both OCI and regular HTTP repositories? Thanks in advance

[2022-06-30 15:26] pjbgf commented on #806
@souleb good point, that's like `Bucket` objects.

When the flag (mentioned here) is set, that would block at controller level any HTTP/insecure transport. Meaning that if a specific object (Helm/Bucket) tries to use `spec.Insecure=true`, or use an `http://` endpoint, both would result in an error.

[2022-06-30 23:05] mfamador commented on #402
@pjbgf there are a few restarts in both problematic north Europe clusters:

[code]

Not sure if it helps but here's some logs:

[code]

Anyway, there's no stuck controller now which mitigates our initial issue. Thanks for your help

[2022-07-01 04:08] laozc opened #808 "Add support to HTTP(s) endpoint as Bucket source"
The idea is to provide the ability to create a Bucket with a generic HTTP(s) endpoint for downstream consumption,
such as Kustomization controller which requires either Git/Bucket sources.

This could allow flux components to integrate with other in-cluster services providing HTTP access to resource manifest.

[2022-07-01 08:54] pjbgf opened #810 "Lost leader election may be leading to restarts"
Source controller seems to be restarting abruptly, potentially due to lost leader election.

[code]

Logs before last restart:

[code]

On the specific case, the AKS clusters are syncing with the same Azure DevOps git repositories (gitImplementation: libgit2).
The deployment has cluster in multiple regions, most of which work as expected, apart from the clusters based in North Europe, which gets r

[2022-07-01 08:57] pjbgf commented on #402
@mfamador as you mentioned, the restarts are orthogonal to the initially reported issue so I created a new issue for that one, whilst I will be closing this one.

Thank you so much for all the help getting this resolved.

[2022-07-01 08:57] #402 closed

[2022-07-01 09:06] hiddeco commented on #810
How do we know this is actually is a bug on our side, and not instability of the cluster?

On a side note, when we upgrade controller-runtime the leader election will start using "leases" instead of ConfigMaps: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.12.0

[2022-07-01 09:09] pjbgf commented on #810
@hiddeco we don't, therefore I removed the `bug` label.

[2022-07-01 09:24] pjbgf commented on #810
@mfamador I noticed that the staging cluster has a 10-fold occurrence rate on this issue. Have you noticed any other metric that could be correlated to indicate why is that so?

I am assuming from an API server perspective, the only difference amongst the two environments would be the availability that Azure provides. Or are both environments configured with the same API server availability?

Can

[2022-07-01 09:42] stefanprodan commented on #808
@laozc what you are proposing here is a major change to Flux that needs go over an [RFC process](https://github.com/fluxcd/flux2/tree/main/rfcs). IMO fetching files from random HTTP/S servers is not in scope for the Bucket kind.

[2022-07-01 09:48] laozc commented on #808
@stefanprodan Sure. Let me work on a RFC to discuss this further.

[2022-07-01 09:53] stefanprodan commented on #808
@laozc I would close the PR opened for this, as we can't get that in, not in the current shape anyway.

[2022-07-01 13:10] pjbgf commented on #810
@mfamador thanks for sharing the above, I will try to reproduce the issue and get back to you.

By the bye, the changes in `rc-a00d0edc` are now included in the official releases from [v0.25.6+](https://github.com/fluxcd/source-controller/blob/main/CHANGELOG.md#0256), feel free to upgrade to the latest, so you can have the same version across your fleet.

[2022-07-05 13:10] stefanprodan commented on #790
Implemented in #797

[2022-07-05 13:10] #790 closed

[2022-07-05 13:20] stefanprodan opened #814 "[OCIRepository] Implement client cert auth"
Implement client cert auth as described in the RFC [Flux OCI support for Kubernetes manifests](https://github.com/fluxcd/flux2/pull/2601).

⚠️ The implementation PR should be made for the [oci branch](https://github.com/fluxcd/source-controller/tree/oci).

## Spec

For private repositories which require a certificate to authenticate,
the client certificate, private key and the CA certificate (if s

[2022-07-05 13:22] rashedkvm commented on #814
I can work on this @stefanprodan

[2022-07-05 18:36] mac-chaffee opened #815 "SIGSEGV when reconciling a a helm chart from git with missing dependencies"
If someone applies a GitRepository and corresponding HelmRelease that points to a helm chart that is missing dependencies (specifically this one: https://github.com/helxplatform/search-chart/tree/0e35ab7713106421781388eaa5d8daaa275fd30f ), the source-controller will segfault and crashloop.

The reason appears to be that running `helm package` inside that git repo fails with the error:

[code]

But

[2022-07-06 17:46] #722 closed

[2022-07-07 09:42] #601 closed

[2022-07-07 10:05] pjbgf opened #820 "Validate checksum before consuming golang-with-libgit2 artefacts"
The golang-with-libgit2 project has [recently](https://github.com/fluxcd/golang-with-libgit2/pull/28) started providing signed releases for its artefacts.

The current logic needs to be updated to add said validation:
https://github.com/fluxcd/source-controller/blob/22c9e2e85f6ec8062afac7d20cb47002a54e4dfb/hack/install-libraries.sh#L48

[2022-07-07 21:30] scottrigby commented on #669
yay 🎉 tidying up

[2022-07-07 21:30] #669 closed

[2022-07-08 09:03] stefanprodan commented on #814
Implemented in #821

[2022-07-08 09:03] #814 closed

[2022-07-11 08:10] chengleqi opened #825 "What annotations does source.toolkit.fluxcd.io/v1beta2/GitRepository provide?"
I only found `reconcile.fluxcd.io/requestedAt: <arbitrary value>` in the [website](https://fluxcd.io/docs/components/source/gitrepositories/#triggering-a-reconcileb)

and
https://github.com/fluxcd/source-controller/blob/15b6fedbd06ca340dc7f5bd9db4feeeea4ce4d9c/controllers/gitrepository_controller.go#L307-L308

Is there any doc or something?

[2022-07-11 08:12] chengleqi commented on #825
/help wanted

[2022-07-11 08:51] hiddeco commented on #825
There are no other user-facing annotations other than the `reconcile.fluxcd.io/requestedAt` annotation for sources at present.

[2022-07-11 10:21] chengleqi commented on #825
Thanks a lot.

[2022-07-11 10:21] #825 closed

[2022-07-13 08:07] bensunny1 opened #826 "AWS bucket resource with flux and dualstack endpoint"
Most corporate networks access S3 via an endpoint in AWS and have firewalls filtering internet traffic. It seems like the flux source controller tries to use ```s3.dualstack.eu-west-2.amazonaws.com``` which in principal is fine as it allows users to use IPv4 or IPv6 addresses.

However, most people are still purely on IPv4 VPCs so cant create dualstack endpoints and hence have to allow internet ac

[2022-07-13 10:12] darkowlzz commented on #826
Hi, I looked into where this endpoint is set and looks like we just pass the endpoint set in the Bucket object to the minio client in [source-controller/pkg/minio/minio.go](https://github.com/fluxcd/source-controller/blob/v0.25.9/pkg/minio/minio.go#L61), and on the minio side it overwrites the endpoint host based on some rules in [minio-go/api.go](https://github.com/minio/minio-go/blob/ef3e45ed9cd

[2022-07-13 12:00] bensunny1 commented on #826
Hi, thanks for the quick response. Issue definitely lies with the minio client, it looks like they have a few exceptions where the provided endpoint isn't changed. https://github.com/minio/minio-go/blob/47da873ffd36aeac5c162560c5aeae1d377f258e/pkg/s3utils/utils.go#L114

Using the vpce subdomain seems to work as expected, using a vpc endpoint instead of changing to use a dualstack endpoint

[2022-07-13 13:32] #815 closed

[2022-07-13 13:46] rayanebel opened #830 "flux 0.31.3: source-controller panics when we are using a HelmRepository with an OCI registry without specifying the type"
Hi everyone,

I’ve configured our private helm repository (Artifact registry from Google) to deploy our applications from a helmrelease.

I’m currently facing to the following error when I try to reconcile our HelmRepository

[code]
When I check the flux pods, I can see that the source-controller stop working and when I'm looking for the logs I have a `panic`

[code]

Here you can find my HelmRepo

[2022-07-13 14:08] kingdonb opened #831 "OCI HelmChart is garbage collected erroneously out of sequence"
I was testing an OCI Chart Repository:

[code]

and noticed I forgot to make it public. The errors were confusing:

[code]

There is no indication that there was an auth failure until I check the logs of source-controller:

[code]

OK, there's the error. (An aside: I think this should be reported somewhere as a condition)

I made the chart public, and I'm explaining this in the sequence of events

[2022-07-13 14:10] stefanprodan commented on #831
I'm really confused about what these logs mean:

[code]

[2022-07-13 14:15] hiddeco commented on #831
I do not think this is a source-controller issue, but possibly an issue with the helm-controller controlling the life-cycle of the chart.

Can you provide a precise step-by-step instruction of the changes in combination with the changes to the `HelmRelease` (chart spec)?

[2022-07-13 14:21] kingdonb commented on #831
So I could find the condition, if I had access to a HelmChart but it either hasn't been created or was garbage collected on either side of the error, making it impossible to read the conditions:

[code]

helmrelease:
[code]

This reproduces instantly without the "private repo step"

[2022-07-13 14:24] kingdonb commented on #831
After installing those two resources on the cluster, first the helmrepository then the helmrelease, with a separate terminal running `kubectl get helmchart -w`, I see the `HelmChart` resource created and then instantly garbage collected. If users are expected to monitor HelmChart resources for their conditions to determine the failure reason for a HelmRelease, this is not an acceptable lifecycle f

[2022-07-13 14:25] stefanprodan commented on #831
SC does not delete HelmCharts, this is a helm-controller bug. I'll let @hiddeco move this issue if that's the case.

[2022-07-13 14:33] hiddeco commented on #831
What are the helm-controller logs telling you? I find it unlikely the chart is instantly garbage collected, but rather think it is not created at all from some reason (which may have to do with source-controller being an RC?).

[2022-07-13 15:08] kingdonb commented on #831
It seems to be an issue on k3s only, I'm not sure what causes this but I am using vcluster with host k8s at `v1.21.14` and k3s at `v1.21.12+k3s1` – if this affects only k3s, do we want to pursue it?

I can file it upstream with k3s if I can isolate it well enough to explain it in an issue for them, but it seems likely to be related to either k3s or the specific version of k3s that I'm using. I'll

[2022-07-13 15:12] hiddeco commented on #831
I think it would be good to know what precisely appears to (not) happen in both controllers versus the others. The helm-controller logs would probably tell more, did you e.g. see a reconciliation error at the end of the HelmRelease reconciliation?

[2022-07-13 15:38] souleb commented on #831
k3s had it's own helm-controller. Maybe it's interfering.

[2022-07-13 15:55] kingdonb commented on #831
When the repository is public, this is the log:

`helm-controller`:
[code]

`source-controller`:
[code]

In neither case (public or private, success or failure) do I actually see any HelmChart resources created on the cluster

[2022-07-13 15:57] kingdonb commented on #831
Just a note after reviewing these logs, this time the notice about garbage collecting was not posted. (But the HelmChart resources are still not shown as created on the cluster.)

[2022-07-13 16:00] souleb commented on #831
It did not get any tag, so not having a chart make sense. But then the helmrepository is fine, with the same token? What version of SC are you running?

[2022-07-13 16:03] somtochiama commented on #831
@kingdonb Could it be something with `kubectl`

It is kinda weird that you never see the HelmChart even before any garbage collection is done. It should be present at least when the repository is private and it has the error. Could something else be deleting the helm chart?

[2022-07-13 16:04] kingdonb commented on #831
The normal behavior is to populate a HelmChart resource with the reason for failure in its conditions. This is the behavior on a regular kind cluster, it's different for some reason on this k3s cluster.

If the HelmChart is not created then the user cannot read failed conditions on it. There is no token, this is a repo that was accidentally private. It works when marked public, but again the HelmC

[2022-07-13 16:07] kingdonb commented on #831
Sorry to waste so much time on this, there is no issue:

[code]

@souleb @somtochiama you had it right, this is a conflict with the helm controller provided by k3s, they have installed some CRDs on my vcluster that I didn't ask for, and when I `kubectl get helmcharts` I am reaching the wrong helmchart crd.

Sorry for the noise everyone.

[2022-07-13 22:40] #826 closed

[2022-07-14 11:20] #830 closed

[2022-07-14 20:18] tskinn opened #835 "Support AWS CodeCommit Access with IAM Role (No stored credentials)"
I would like to have the source-controller use a role (IAM Role as Service Account in EKS) to access my codecommit git repos. AWS has created a [git remote helper for codecommit](https://github.com/aws/git-remote-codecommit) that can use an IAM role to get credentials and use them in http requests to git and I imagine we could do something similar in the source-controller. Also, since most cloud p

[2022-07-14 21:06] tskinn commented on #835
At first glance through the code, I would think we could add code somewhere around [here](https://github.com/fluxcd/source-controller/blob/0bf9de319dded36d8723fbc492b9fcae35f9c80c/controllers/gitrepository_controller_test.go#L131) that checks the url for `codecommit` (example: `codecommit://demo-profile@MyRepositoryName`)

Like the git remote helper for codecommit:

we can look for `codecommit` in

[2022-07-14 23:28] MateuSoares1 commented on #762
I have the same problem. In my case I'm trying to generate an image for my azure container registry. I would like to generate one with multi architecture or at least with linux/amd64. It just isn't coming out at all.

Comand: docker build --platform linux/amd64  or % docker buildx build --platform linux/amd64

I'm using Mac M1

Output:

`=> ERROR [angular_v1.0 6/6] RUN npm run build

[2022-07-15 07:21] pjbgf commented on #762
We have a fix for this, which will be proposed once #782 is merged.
In the mean time, you can fix cross build in your local environment by patching your `Dockerfile` and `Makefile`:

[code]

[2022-07-15 10:08] stefanprodan opened #836 "Improve OCI testing"
The current tests in #788 need to be refactored to cover these cases:
- pull from public repos (currently we test only with basic auth)
- pull from private repos with basic auth (`secretRef` and/or `serviceAccountName`)
- pull from repo with self-signed cert and custom CA
- pull from repo with self-signed cert using client cert
- test failure conditions: wrong artifact URL, wrong client cert, wron

[2022-07-15 10:10] somtochiama commented on #836
/assign

[2022-07-15 14:47] tskinn commented on #835
@pjbgf Sorry I only meant we could use the git-remote-codecommit as inspiration. I agree with you.

@stefanprodan Ok. Is there an issue tracking that?

[2022-07-18 17:45] gladiatr72 opened #837 "source-controller non-leader replica left in not-ready state"
in reference to: https://github.com/fluxcd/source-controller/issues/326

Ok, but _source-controller_ is the only flux component that actually _does_ this.  I thought that was the whole purpose of the _leader election_ thing...

Personally, I don't care about the prom alerts.  Those can be silenced.  Filling up the event log with reams of `flux-system -- 0s -- Warning -- Unhealthy -- pod/source-con

[2022-07-19 07:18] makkes commented on #807
I just noticed that the EKS-A folks are maintaining a Helm fork with some patches: https://github.com/aws/eks-anywhere/issues/2536

There's also a bunch of upstream Helm issues and PRs around this so I'll try to find a way for Helm to settle on a quick way forward.

[2022-07-20 08:31] gfichtenholt opened #839 "Requested feature: flux OCI helm repositories notice when tags on remote registry change"
Filing an issue per souleb's request in https://cloud-native.slack.com/archives/CLAJ40HV3/p1658304872546299
Hello Flux gurus,
is the following a bug or a feature?

I have a public OCI helm registry on ghcr.io with URL [oci://ghcr.io/gfichtenholt/helm-charts](oci://ghcr.io/gfichtenholt/helm-charts)
That registry has one package `podinfo` and it has two versions 6.1.6 and 6.1.5
Sanity check:
[code]

[2022-07-20 11:18] pjbgf opened #841 "Controller tests intermittently failing at CI"
At some point between [v0.25.9](https://github.com/fluxcd/source-controller/releases/tag/v0.25.9) and [v0.25.10](https://github.com/fluxcd/source-controller/releases/tag/v0.25.10) the controller tests started to intermittently fail at CI.

### Symptom
[code]

### Occurrences
https://github.com/fluxcd/source-controller/runs/7359346356?check_suite_focus=true#step:5:954 [ macOS ]
https://github.com/f

[2022-07-21 12:27] hiddeco commented on #839
As per [RFC](https://github.com/fluxcd/flux2/tree/main/rfcs/0002-helm-oci), the `HelmRepository` of type OCI does not keep track of changes to the repository. This is inline with the changes Helm made around the introduction of OCI, which are [documented here](https://helm.sh/docs/topics/registries/#deprecated-features-and-strict-naming-policies) and state:

Instead, it provides an authentication

[2022-07-21 18:19] #681 closed

[2022-07-21 19:25] aryan9600 opened #843 "Remove macOS 10.15 runner from CI for tests"
The macOS 10.15 runner has been deprecated and will stop being supported soon (ref: https://github.com/actions/virtual-environments/issues/5583), due to which few tests on it are failing (eg: https://github.com/fluxcd/source-controller/actions/runs/2714159996).

[2022-07-21 21:20] gfichtenholt commented on #839
Thank you for your comment. The "precise" requirement (again remember I am not an end user) is that Helm OCI charts notice the changes on remote and record it. Same way that regular HTTP charts notice changes to remote index.yaml and record this fact in the HelmRepository CRD via status.artifact.checksum field. ref https://fluxcd.io/docs/components/source/helmrepositories/#status Without this feat

[2022-07-22 21:20] michaelsatish opened #845 "Chart pull error "oci://public.ecr.aws""
Hi,

I am trying to have flux manage ack eks controller helm chart and ran into a "chart pull" error. It could be my helm release configuration. Any help will be much appreciated.

**Helm Repository**
[code]

[code]

**Helm Release**
[code]

[code]

Deploying it manually works,

[code]

[2022-07-23 04:48] gfichtenholt commented on #839
FWIW, I confirm the following use case is working as expected:
1) remote OCI repo contains only podinfo version 6.1.5
2) create flux HelmRepository for (1)
3) create flux HelmRelease for (2) results in podinfo version 6.1.5 deployed
4) push podinfo version 6.1.6 to (1)
5) wait for specified repo interval + a bit
6) now (3) is automatically upgraded to 6.1.6

Arguably, this is the most important us

[2022-07-26 09:22] hazim1093 commented on #652
Hi is there any update or potential timeline for this issue?

[2022-07-26 11:05] #762 closed

[2022-07-26 15:29] makkes commented on #839
@gfichtenholt looking back at the discussion there's 2 potential paths forward with this:

1. Employ [Flux's image automation](https://fluxcd.io/docs/components/image/) to be notified of new chart versions and build upon that.
2. Submit [an RFC](https://github.com/fluxcd/flux2/tree/main/rfcs) proposing a solution to be implemented in Flux, probably preceded by a GitHub discussion.

As per your mos

[2022-07-26 15:29] #839 closed

[2022-07-26 16:01] gfichtenholt commented on #839
Sounds good. Thank you

[2022-07-26 17:27] jlbutler commented on #845
The fix for this is rolling out, before workarounds are pursued would be good to see if this is still an issue.

[2022-07-27 11:04] #843 closed

[2022-07-27 11:48] hiddeco commented on #841
xref for easy comparison: https://github.com/fluxcd/source-controller/compare/v0.25.9...v0.25.10

[2022-07-27 13:25] jlbutler commented on #845
Apparently it wasn't yet ready, apologies. It is still set for coming soon, sorry for the noise.

[2022-07-27 14:02] #841 closed

[2022-07-27 14:29] souleb opened #849 "Create dedicated namespaces per test case in reconcilers tests"
Create dedicated namespaces per test case, then delete the whole NS at the end. This will help avoid the case where we fail to stop the kube-apiserver.

for example:
[code]
https://github.com/fluxcd/helm-controller/blob/5d28aa42505641652648e338afc9c1ec4e8dfb55/internal/reconcile/install_test.go#L183

[2022-07-27 14:30] stefanprodan commented on #849
We also need to delete all test objects before we delete the namespace.

[2022-07-27 23:31] michaelsatish commented on #845
@makkes Thank you for the update. I updated to the new version of the source controller v0.25.11, and it resolved my issue.

[code]

[2022-07-28 08:45] makkes commented on #845
I'm happy to hear that, @michaelsatish and I'm going to close this issue now as there's nothing else in Flux we can do apart from waiting for AWS to support the tag listing API.

[2022-07-28 08:45] #845 closed

[2022-07-28 08:46] makkes commented on #845
Thanks for keeping us up-to-date on the progress @jlbutler! Much appreciated.

[2022-07-29 13:29] davinkevin opened #854 "Ability to `include` other type of source in GitRepository"
Hello Flux Team 👋,

We are using currently the `include` attribute in `GitRepository` to bypass some limitations (especially remove base with `git`) and for path reconciliation, but the current API allows us to use only `GitRepository` into another `GitRepository`, like this:

[code]

And, we would like to be able to use something else than `repository` in `include`, for example:

[code]

Or even,

[2022-07-29 13:59] stefanprodan commented on #854
I think that with the OCI features that are coming next in Flux, there is no more need for `include`, as you can piece together the desired configuration from various sources in a CI job and publish the final manifests to a container registry with `flux push artifact`.

[2022-07-30 05:08] davinkevin commented on #854
Hello @stefanprodan and thank you for you answer.

I've done a lot of investigation about `kustomizer` and the OCI feature currently (I've read the RFC) in progress in Flux and to be honest, I don't see it as a solution for it at the moment. I detail that:

As a manifest editor, I would like to publish a set of YAML, the `base` (`Kustomization` & `Components`) alongside my containers images. But,

[2022-08-01 13:52] stefanprodan commented on #854
Yes you can and should, OCI is no different from Git, so use SOPS.

Yes you can and should, like before "OCI is no different from Git".

For a HelmChart you provide the config with `HelmRelease.spec.values/valuesFrom`, for OCIRepository you'll do the same but with `Kustomization.spec.patches` and/or `Kustomization.spec.postBuild`.

[2022-08-02 06:19] davinkevin commented on #854
Thank you @stefanprodan for your answer.

You're right, secrets/configMap/Immutability can be done but is not compatible with system where you store `base` manifests and configuration in two different places. It's really a common usage, especially when you have multiple envs.

Sorry, but inlined `Kustomization.spec.patches` & `Kustomization.spec.postBuild` is not the same as an original `kustomiza

[2022-08-02 09:40] hiddeco opened #855 "Use `github.com/opencontainers/go-digest` for checksums"
At present we are advertising a SHA2 in the `Checksum` field of an `Artifact`.

To make this more future proof, and e.g. allow people to switch from SHA2 to BLAKE3. It would be good if we changed the format of this field to match the OCI digest format (thus making it prefixed with the algo, e.g. `sha256:<checksum>`).

While making this change, it should be taken into account that with this allows

[2022-08-03 18:30] cwyl02 commented on #657
hi @aryan9600, I am interested to work on this if ok

[2022-08-07 16:19] DudyZ commented on #131
hi, any news on this issue? We also need ssh proxyCommand or jump functionaliy. It seems this usecase is pretty common in big organizations.

[2022-08-12 10:15] stefanprodan opened #863 "[RFC-0003] Verify OCI artifacts with cosign static keys"
Implement cosign verification as specified in [RFC-0003 Flux OCI support for Kubernetes manifests](https://github.com/fluxcd/flux2/tree/main/rfcs/0003-kubernetes-oci):

[code]

The RFC mentions only cosgin static keys, where the given secret contains one or more public keys. Besides static keys, cosgin supports keyless signing using OIDC such as GitHub and Google. We need to decide how to enable k

[2022-08-12 10:36] stefanprodan commented on #863
When `verify.secretRef` is not specified we could try to do a keyless verification, this will work only for public OCI repositories and will use the default Rekor URL and Fulcio root CA.

[2022-08-12 13:48] jlbutler commented on #845
@makkes @stefanprodan and others... dropped a comment on our issue tracking tags missing from ECR Public's v2 API. We're very interested in getting this addressed so that projects don't need to work around it.

TL;DR question for you - if we iterate toward full OCI compliance, are you ok with us deferring the lexical sorting and transparent pagination token aspect of the spec, to focus on a first

[2022-08-12 13:53] #124 closed

[2022-08-12 13:54] stefanprodan commented on #723
@souleb I see that your PR has been merged, what else is needed?

[2022-08-12 14:49] makkes commented on #845
Hey @jlbutler, thanks for coming back here. Order doesn't matter for us as source-controller sorts the tags by itself. As for pagination I'm not sure I understand how you would implement that. Would there just be no pagination at all?

[2022-08-12 15:33] #719 closed

[2022-08-12 15:33] jlbutler commented on #845
Hi @makkes thanks for taking the time to respond!

Our first release would not include a `nextToken` in the body - the body will be fully compliant with the spec. This is to say, the response body will be formatted as below without additional elements:

[code]

If it works for most use cases, we will use the `Link` header for pagination, but the value will be an opaque token embedded in a full URL

[2022-08-12 15:41] souleb commented on #723
I need to adapt the getter on helm side... I am currently testing the implementation.

[2022-08-12 16:00] makkes commented on #845
As long as the `Link` header has a format like this
[code]
it will work from what I can tell by looking at the oras-go code. Oras merely looks at what's inside the two `<...>` markers.

[2022-08-12 16:26] stefanprodan commented on #845
We use oras only for Helm, while Flux image automation and source controller’ OCIRepository are using https://github.com/google/go-containerregistry/blob/main/pkg/v1/remote/list.go

[2022-08-12 16:31] jlbutler commented on #845
Ok so I think the proposal will unstick our use case here, and you don't have to back-bend around it. Thank you so much for the feedback, super appreciate it!

[2022-08-15 14:35] stefanprodan commented on #863
For e2e testing I have prepared two OCI repos, on signed using a static key and the other signed using GitHub.

## Static key

[code]

## Keyless GitHub

[code]

[2022-08-16 01:11] rashedkvm commented on #863
Hi @stefanprodan if this issue is not assigned, I can work on it. Thanks!

[2022-08-16 10:03] pjbgf commented on #782
Closing this as we decommissioned Unmanaged Transport before consolidating the git implementations:
- https://github.com/fluxcd/source-controller/pull/819
- https://github.com/fluxcd/image-automation-controller/pull/412

[2022-08-16 10:03] #782 closed

[2022-08-16 13:13] Wuzyn opened #865 "AAD pod identity support for pulling helm charts from Azure Container Registry"
Hello,
If it's not possible at the moment, is there a plan to support this feature?
Currently, I have to create a service principal in Azure for FluxCD to be able to pull helm charts from ACR.
It would be great to have aad pod identity support, so instead of declaring `secretRef` in `HelmRepository`, we could patch source controller with pod identity (similar to what can be done for `image-reflect

[2022-08-16 13:26] souleb commented on #865
Yes we are planning to add it in the near future.

[2022-08-16 13:35] Wuzyn commented on #865
As an alternative I found `OCIRepository`, but I'm not able to use it with `HelmRelease`. Is there an example of such usage, or is it even possible to use two of those objects together?

[2022-08-16 13:40] stefanprodan commented on #865
`OCIRepository` can only be used as source for Flux Kustomizations.

[2022-08-16 13:45] Wuzyn commented on #865
Thanks for clarifying @stefanprodan. It might be worth to add that information in the docs, as I could not find it there :(
https://fluxcd.io/docs/components/source/ocirepositories/

[2022-08-16 13:45] #865 closed

[2022-08-16 13:50] stefanprodan commented on #865
Why would we document on OCIRepository things about Helm? The HelmRelease docs state very clearly what sources it works with: https://fluxcd.io/docs/guides/helmreleases/#define-a-chart-source

[2022-08-16 15:19] makkes opened #866 "When using a custom CA certificate, add it to the system's list of CA certificates"
Currently, when specifying a custom CA file in a [GitRepository's secret ref](https://fluxcd.io/docs/components/source/gitrepositories/#https-certificate-authority) or [HelmRepository's secret ref](https://fluxcd.io/docs/components/source/helmrepositories/#tls-authentication), then any system certificates already present in the container running source-controller are discarded. This is a problem w

[2022-08-17 11:08] geNAZt opened #867 "HelmChart does not support auto login on GCR"
Hello,

currently i try to deploy a Helm Chart from a HelmRepository like this:

[code]

When i use the HelmRepository in a HelmRelease the source controller tries to download a HelmChart

[code]

This leads to a HelmChart with a 403 because it doesn't have a proper oauth2 token to present to the GCR. I have seen that OCIRegistry seems to support auto-login and i also found https://github.com/flux

[2022-08-17 16:19] cdenneen commented on #652
Having this issue on a private GitLab instance as well. I am running source-controller v0.25.11 and still having this issue:
@aryan9600 @stefanprodan
[code]

[code]

[2022-08-17 16:35] cdenneen commented on #652
[code]

[2022-08-17 17:48] darkowlzz commented on #652
Can you share more details about your GitLab instance? I'm running GitLab 15.2.2-ee and it's working fine.

[2022-08-22 11:24] emalihin opened #870 "Use OCIRepository in HelmRelease"
Hello, I tried the new `OCIRepository` resource and it works great with private GCP Artifact Registry (Workload Identity auth) storing OCI Helm Charts.

However, I'm not able to use it with HelmRelease resources:
`Unsupported value: "OCIRepository": supported values: "HelmRepository", "GitRepository", "Bucket"`

Is this coming, or did I get it completely wrong and `OCIRepository` is not meant to b

[2022-08-22 14:56] developer-guy commented on #863
we (w/@dentrax) are also willing to work on this, thanks 🫶

[2022-08-23 10:57] emalihin commented on #870
This is somewhat related to this issue https://github.com/fluxcd/source-controller/issues/867
`HelmRepository` with OCI config doesn't support IAM Auth, so i'm trying to use `OCIRepository` instead which does, but cannot figure out how to use it with `HelmRelease`

[2022-08-23 14:32] yafanasiev commented on #870
As per https://github.com/fluxcd/flux2/discussions/3002#discussioncomment-3422192, it seems like `OCIRepository` can't be used with HelmRelease. However, I was also hoping the auto-login functionality would work with `HelmRepository` as well.

[2022-08-23 14:53] emalihin commented on #870
Good spot @yafanasiev! In this case it's important that `HelmRepository` with OCI config supports IAM auth, as not all Helm charts are/can be public.

[2022-08-23 15:34] hiddeco commented on #870
The auto-login does not work for Helm at present because the Helm project makes use of [ORAS](https://github.com/oras-project/oras), which unlike the library we use for `OCIRepository` objects lacks a component like [`authn`](https://github.com/google/go-containerregistry/tree/main/pkg/authn) to deal with automagic authentication towards registries.

@souleb is evaluating an adapter component this

[2022-08-23 15:35] hiddeco commented on #867
This is related to https://github.com/fluxcd/source-controller/issues/870#issuecomment-1224243005

[2022-08-24 10:26] raffis commented on #432
I came across this today as well. As I see this gpg verification with github/proctect main branch currently makes no sense. Although this is certainly not a problem with flux but rather github.

If I merge the pr via merge commit I end up with my commits signed but HEAD is signed by githubs key and not mine.
The same happens with squash and merge pr though I only end up with one commit which again

[2022-08-24 13:40] makkes commented on #863
@rashedkvm @developer-guy I assigned both of you.

[2022-08-24 19:30] stefanprodan commented on #854
Thanks @davinkevin for the detailed explanations.

Would a new API type better solve this issue? something like:

[code]

[2022-08-24 19:53] davinkevin commented on #854
If I understand it correctly, a bundle is a set of different source mixed together and it can be referenced as a source from a `kustomization`?

It looks good to me. We then remove the hierarchy between `base` and `overlays` in my previous example 👍. If I'm not wrong, in our case it can reduce drastically the number of flux object, because we have currently for each deployment:
* 2 `flux.GitReposi

[2022-08-25 15:00] pjbgf commented on #131
@sofib-form3 the socat target IP can be set via hostAliases, without requiring the controller pod to lose the readonly fs with:
[code]

I think this could be combined with [var substitution](https://fluxcd.io/docs/components/kustomize/kustomization/#variable-substitution) or similar functionality from helm, in case your proxy service is remote and you need to gather that information querying some

[2022-08-25 15:00] #131 closed

[2022-08-25 17:12] gladiatr72 commented on #837
[crickets](https://www.youtube.com/watch?v=8E6q9W8Ur2k)...

[2022-08-25 20:01] pjbgf commented on #837
Hey @gladiatr72, have you noticed anything else in the logs in terms of errors?

My first guess would be to check the resource limits (CPU and Memory) and resource saturation, as I have seen they causing the controller to misbehave without a proper reason - or reasonable error messages.
Are you using the [defaults values](https://github.com/fluxcd/source-controller/blob/main/config/manager/deploym

[2022-08-25 20:33] pjbgf commented on #548
`HelmRepository` supports [HTTP/S](https://fluxcd.io/docs/components/source/helmrepositories/#helm-https-repository) or [OCI](https://fluxcd.io/docs/components/source/helmrepositories/#helm-oci-repository), but not SSH.

If you still prefer using SSH, then you can instead create a `GitRepository` instead. And on your `HelmRelease` you point to the path in which the chart is being hosted:

[code]

[2022-08-25 21:17] gladiatr72 commented on #837
Sure

[code]

The controller is not misbehaving.  From the referenced ticket it is working as intended.

[code]

[code]

The issue is in regards to the fluxv2 source controller being the only fluxv2 controller that uses a failed

[code]

 readiness check to manage

[code]

leadership; whereas the kustomize, helm and notification controllers' secondary pods con _ready_ go into passive state and par

[2022-08-25 21:28] gladiatr72 commented on #837
The other part of what you asked for: current environment has 3 git sources and 1 helm repository with ~2 dozen charts

[2022-08-25 23:06] anetogit commented on #652
I did these steps, using AWS EKS and CodeCommit, from the scratch:
[code]

and I got this error:
[code]

I am using:
- flux version 0.32.0
- source-controller:v0.26.1
- eksctl 0.109.0-dev+78243b4c.2022-08-19T12:49:29Z
- kubernetes 1.22

[2022-08-26 06:45] stefanprodan commented on #837
If we would allow for standby pods to become ready, then consumers like kustomize and helm controller will not be able to fetch the source artifacts, standby pods don’t replicate the storage from the primary but kube proxy will randomly route calls to them.

[2022-08-26 07:52] #867 closed

[2022-08-26 07:52] #870 closed

[2022-08-26 08:18] souleb opened #874 "Make sure secretRef take precedence over provider for OCI repositories"
The RFC-002, https://github.com/fluxcd/flux2/blob/80669d71ef679b2a3018a958e1ac1a30c8a628f5/rfcs/0002-helm-oci/README.md?plain=1#L92-L93 states the following:

OCIRepository and Helm Controllers have a different behavior when both `spec.provider` and `spec.secretRef` are set. If `spec.provider` is set with a non-generic value and the credential are successfully retrieved, it overrides the `secretRe

[2022-08-27 08:04] aryan9600 commented on #652
@anetogit are you sure that your ssh key-pair isn't protected by a password? if it is, then you could create a secret using `flux create secret git` (ref: https://fluxcd.io/docs/cmd/flux_create_secret_git/) and then use the `flux create source --secret-ref` instead of `--private-key-file` to authenticate.

[2022-08-27 09:03] stefanprodan commented on #652
@anetogit this issue is about GitHub not AWS… For AWS CodeCommit please read the docs: https://fluxcd.io/docs/use-cases/aws-codecommit/

[2022-08-28 02:03] anetogit commented on #652
@aryan9600 No, my key is not protected with a password, there is no passphrase. I was using private key because of the CodeCommit of AWS.

[2022-08-28 02:08] anetogit commented on #652
@stefanprodan Yes. The tutorial works with the HTTPS:
[code]
but not with SSH, because o the issue:
[code]
thanks.

[2022-08-30 19:38] chenbh opened #880 "GitRepository fails to clone from public repo if secretRef is specified without HTTP creds"
When trying to pull from a publicly accessible repo, if the `.spec.secretRef.name` is specified but the secret itself doesn't contain a username/password, the GitRepository will always fail with `failed to checkout and determine revision: unable to clone 'https://github.com/fluxcd/source-controller.git': authentication required`.

[code]

Our use case is that we have a SSH key and need to template

[2022-08-31 07:43] stefanprodan commented on #742
Fair point, Ok let's leave it as it is with the timeout per-operation basis.

[2022-08-31 11:38] makkes commented on #742
The maintainers voted on this issue with the following outcome:

`.spec.timeout` in `GitRepository`s is interpreted on a per-operation basis, i.e. each operation conducted during reconciliation of a resource (such as a Git clone) has that amount of time to finish.

[2022-08-31 11:38] #742 closed

[2022-09-01 08:46] dfreilich opened #883 "Can't set GitRepository Labels"
We're trying to set labels on `GitRepository` objects, and we've seen that while we can set them when we apply the file directly, eg:
[code]
for a file:
[code]
we can see the labels:
[code]

However, when we push that file to our fleet repo, they doesn't get set, and are instead overwritten with `kustomize.toolkit.fluxcd.io/...` labels:
[code]

We see that those labels get set [here](https://githu

[2022-09-01 08:47] dfreilich commented on #883
I wasn't sure whether it was better to open this issue here or in https://github.com/fluxcd/kustomize-controller/ , apologies if it's not the right place.

[2022-09-01 08:53] stefanprodan commented on #883
Are you sure you've pushed the label changes to Git and Flux has reconcile the change? We don't override labels, unless they are set with `kubectl apply`. Delete the GitRepository from the cluster and reconcile again, Flux should recreate it as it is in Git. Mixing kubectl apply with gitops is going to result in all sorts of conflicts.

[2022-09-01 08:55] dfreilich commented on #883
Yup, the changes were pushed. I only got started with `kubectl apply` when I saw that those labels weren't being set, so definitely not a conflict there.

[2022-09-01 09:03] stefanprodan commented on #883
Are you sure you've set the labels on the right object? From your example they don't seem the same, one is calls `my-repo` and the other is `my-repo-fleet`.

[2022-09-01 09:05] dfreilich commented on #883
Yes, I've set them on the right object. I just differentiated it in the examples to try and make it clearer, but I can fix that if necessary.

[2022-09-01 09:26] dfreilich commented on #883
Hmm after trying again with some new objects, I can't reproduce it either. I'm not sure what happened earlier! Sorry to waste your time, I'll close the issue

[2022-09-01 09:26] #883 closed

[2022-09-01 09:27] dfreilich commented on #883
One thought is that it could be I had changed only the labels, but not the artifact, and that the `GitRepository` object wasn't getting updated with the new metadata (though I had also tested creating a new object with the labels, so that wouldn't fully explain my situation). It was a fluke though

[2022-09-01 19:10] Tolsto opened #885 "Support for Azure Workload Identity"
It would be great if the source controller would have support for [Azure Workload Identity](https://github.com/Azure/azure-workload-identity/)

[2022-09-01 19:34] somtochiama commented on #885
Hey @Tolsto ,
We have an open issue for supporting Azure Workload Identity https://github.com/fluxcd/flux2/issues/3041 and we would soon get around to it

[2022-09-01 19:36] somtochiama commented on #885
I can't see an issue for it particularly in the source-controller so I will leave this open

[2022-09-06 10:50] snebel29 commented on #849
I would like to take a look to this issue, can anyone assign it to me?

[2022-09-06 22:27] snebel29 commented on #849
@stefanprodan

When I try to `make test` in my computer from [main](https://github.com/fluxcd/source-controller/commit/f97bbb6c5bff5d4b2fb71c3ab9a4b6c602bc73a0) (with no other local changes added) I am getting several failures, whose "non-obvious" source I believe might be

[code]

Here is the detail of the error producing that test failure
[code]

It does feel the tests are trying to download tha

[2022-09-07 11:17] pjbgf commented on #849
@snebel29 do you mind sharing more details about your development environment? Are you on Linux/Darwin?

Feel free to ask questions on the [contributors channel](https://cloud-native.slack.com/archives/C01A402P0R2).

[2022-09-07 12:13] snebel29 commented on #849
Hi @pjbgf
I am developing using [Goland](https://www.jetbrains.com/go/) on top of a Mac, here are the versions of the dependencies listed in [DEVELOPMENT.md](https://github.com/fluxcd/source-controller/blob/main/DEVELOPMENT.md#installing-required-dependencies).

[code]
[code]
[code]
[code]
It is worth to mention that under the hood, the docker runtime is implemented using [colima](https://github.c

[2022-09-08 01:30] cwyl02 commented on #657
hi @aryan9600 finally get some time to look deeper into this. And I see we have a cacheRecorder. Should we try to reuse that pattern where it fits?
Also, I guess for every metric we come up with, `namespace` is always a desirable dimension?

[2022-09-08 08:00] snebel29 commented on #849
For the record the culprit of the error was found to be a `~/.docker/config.json` without auth section, looking like

[code]

Full details on [slack](https://cloud-native.slack.com/archives/C01A402P0R2/p1662623119977099?thread_ts=1662558195.838299&cid=C01A402P0R2).

[2022-09-09 12:42] souleb opened #894 "Fix unknown build error when reconciling HelmChart from an OCI Registry"
HelmCharts reconciliation sometime result in unknown build error and Unknown reason with auth failure It happens when HelmChart build is attempted when the associated HelmRepository isn't ready because of the auth failure.
It then returns `*conditions.TrueCondition(sourcev1.FetchFailedCondition, "Unknown", "unknown build error: failed to login to OCI registry")`.

Around [source-controller/control

[2022-09-09 13:34] #874 closed

[2022-09-10 12:32] aryan9600 commented on #657
Yes, using that pattern seems like a good idea for now, we can think about expanding the `Recorder` in `fluxcd/pkg/runtime/metrics` later.
I'd say the `namespace` and `name` labels are desirable for all metrics. Developers and users should be able to see stuff like the avg. duration of git checkout or a helm pull for each source object, which would enable them to have a clearer picture of the cont

[2022-09-13 12:28] adawalli commented on #854
@stefanprodan - your proposed API change is exactly what we need as well. In our deployments, we wish to deploy a base set of resources to our teams, but allow them to provide kustomize patches (e.g., add in their own ARNs, annotations, etc) - I think your proposal above would provide exactly the fix we need

[2022-09-13 12:34] mlschindler commented on #854
+1 to @stefanprodan's proposed solution. Provides exactly the solution we need to provide base layers to our teams and they are free to add overlays on top without concerning themselves with extra sources.

[2022-09-13 12:53] adrien-f opened #896 "Panic with an invalid AWS OCI URL for HelmRepository"
Hi 👋

While playing around, I noticed this panic:

[code]

This can be replicated with v0.29.0 and the following HelmRepository:

[code]

The URL doesn't match the regex used in `pkg/oci`:

https://github.com/fluxcd/pkg/blob/dbad05cf95b380c6f619a9bf76dc755c6ff6e3cc/oci/auth/aws/auth.go#L36-L47

Which results in returning `oci.ProviderGeneric` which is handled by returning `nil, nil` later

This is

[2022-09-13 13:13] souleb commented on #854
For `OCIRepository`, could we solve this by building a multi-layered `OCI artifact`?

We would retrieve `base` and `components` in CI, add our `overlays`, and finally build/push to our registry. `Flux` would then make sure to provide an artifact that contains all the layers merged.

[2022-09-13 13:19] souleb commented on #896
thanks for raising this @adrien-f. I think just adding the just is the way to go.

[2022-09-13 16:15] makkes commented on #896
@adrien-f would you like to submit a PR fixing the issue?

[2022-09-13 16:33] stefanprodan commented on #896
I think we could return the error in the `oidcAuth` function, under the switch as `default`.

[2022-09-13 16:58] adrien-f commented on #896
This actually happens a bit later in `login.NewManager().Login()` in the `ImageRegistryProvider(image, ref)` swich [here](https://github.com/fluxcd/pkg/blob/main/oci/auth/login/login.go#L98), if we want to catch this edge case before, we'd have to regex-match before and that's what this method does already.

I've attempted a PR in https://github.com/fluxcd/source-controller/pull/897 🤗

[2022-09-14 07:12] masterphenix opened #898 "Helm OCI repository - Failing to get credential from azure"
Hello,
I have created a HelmRepository of type OCI like this:
[code]

I get the following error:
[code]

My kubernetes cluster underneath is an AKS cluster, and the managed Identity assigned to the kubelet does have access to the whole resource group where my registry is stored. There are other container registries in this resource group with standard docker images, and the cluster is able to pull

[2022-09-14 07:54] makkes commented on #896
I'd prefer for `login.NewManager().Login()` to actually return either a non-nil error or a non-nil Authenticator but never both. However, I understand that `OCIRepositoryReconciler` currently relies on these semantics so I'm fine just fixing the immediate bug for now.

[2022-09-14 08:07] makkes commented on #898
Thanks for submitting this bug. Would you mind pasting the output of `kubectl get helmrepo myhelmrepo -o jsonpath={.status}`, please?

[2022-09-14 08:27] masterphenix commented on #898
Here is the status of the repo:
[code]

[2022-09-14 08:54] souleb commented on #898
There is the following documentation on how to setup contextual login with azure.

https://fluxcd.io/flux/components/source/helmrepositories/#azure

[2022-09-14 09:07] masterphenix commented on #898
I did read that documentation, but its unclear to me what to do to use kubelet managed identity. From what I understand, the aadpodidbinding label is only required if using AAD pod identity.

[2022-09-14 11:38] darkowlzz commented on #898
Hi, in our azure integration test infrastructure, we use kubelet managed identity and grant the kubernetes cluster access to the registry with a role assignment. We use terraform to do this, here's the code we use https://github.com/fluxcd/test-infra/blob/65e1a901cbb9b3f9f27ffad7f9a32a6366eae1cc/tf-modules/azure/acr/main.tf#L9-L14 . In case you'd like to see the whole setup configuration, refer ht

[2022-09-14 11:45] #896 closed

[2022-09-14 13:20] masterphenix commented on #898
Thank you @darkowlzz for your thorough reply. I have double-checked my existing configuration:

- I have connected on a cluster node, and confirmed in /etc/kubernetes/azure.json the identity I am using, and also that the tenantId is correct:
[code]
- That same identity is shown in the result of the 'ps' command:
[code]
- That identity is assigned the AcrPull role in the ACR registry's role assigne

[2022-09-14 13:49] darkowlzz commented on #898
Sounds like some AKS cluster configuration related differences. All the parameters used in our test cluster is here https://github.com/fluxcd/test-infra/blob/65e1a901cbb9b3f9f27ffad7f9a32a6366eae1cc/tf-modules/azure/aks/main.tf#L6-L25.
@masterphenix can you try to check how it's different from your cluster? It's possible that we are missing some common configuration that people usually use. The cl

[2022-09-14 14:48] darkowlzz commented on #898
I removed the role assignment to see the error and the error I get seems to be different from the partial error string that you've shared:

[code]

Your error:

[code]
I had to delete the pod to see the change in effect.

We use the DefaultAzureCredential because it attempts to authenticate via various means as documented in https://github.com/Azure/azure-sdk-for-go/blob/sdk/azidentity/v1.1.0/sdk/

[2022-09-14 15:22] masterphenix commented on #898
The only notable difference from your config that I can see is the network_plugin we use, which is "azure", with network_policy "azure" also. Here is an extract of our terraform config:
[code]
I also confirm that the role assignment I have is of type "User-assigned Managed Identity".

[2022-09-15 11:13] darkowlzz commented on #898
@masterphenix I didn't noticed that your second comment has the full error:

[code]

Based on https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/TROUBLESHOOTING.md#azure-virtual-machine-managed-identity, the third error case

description:

Mitigation:

    Verify the IMDS endpoint is reachable on the VM. See [below](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity

[2022-09-15 13:05] masterphenix commented on #898
Thank you kindly for your investigations, it does allow to narrow the issue. Following the mitigation provided, I executed this on the node:
[code]
Response suggests that the issue is linked to the fact that the node has several UAI assigned to it:
[code]
I thought it was due to the aci_connector that was active on this cluster, and which has its own UAI, but I have disabled it, and I still have t

[2022-09-15 14:32] stefanprodan opened #899 "Cosign 1.12.0 broke Flux build"
After Cosign [v1.12.0](https://github.com/sigstore/cosign/releases/tag/v1.12.0) our builds are failing with:

[code]

We use keyless to sign the [golang-with-libgit2](https://github.com/fluxcd/golang-with-libgit2/releases/tag/v0.2.1) release assets and we use cosign verify-blob in all Flux controllers that make use of those assets. Since this basically broke Flux build all over, we have two option

[2022-09-15 14:38] znewman01 commented on #899
Happy to help debug from the Sigstore side of things.

If I had to guess, it's actually related to the fix to https://github.com/sigstore/cosign/security/advisories/GHSA-8gw7-4j42-w388, which made verification more strict for `verify-blob` (possibly introducing false positives).

If you can point me to the following, I'd be grateful:

1. Where these files are signed
2. Where these files are verifi

[2022-09-15 14:43] stefanprodan commented on #899
@znewman01 to reproduce this locally do:

[code]

[2022-09-15 14:46] znewman01 commented on #899
Will reproduce, 1 sec...

In the meantime: does it still happen if you set `COSIGN_EXPERIMENTAL=1` for the `verify-blob` call?

[2022-09-15 14:48] stefanprodan commented on #899
With experimental enabled it doesn't fail but I see lots of duplicate warnings....

[code]

[2022-09-15 14:54] znewman01 commented on #899
Okay, it's expected that `verify-blob` should fail without `COSIGN_EXPERIMENTAL=1`; that's part of the resolution to https://github.com/sigstore/cosign/security/advisories/GHSA-8gw7-4j42-w388 .

With `COSIGN_EXPERIMENTAL=0`: you provided a certificate which was signed by the keyless CA to verify against, but without `COSIGN_EXPERIMENTAL`, `cosign` isn't supposed to know about the keyless CA.

Sorr

[2022-09-15 15:05] stefanprodan commented on #899
@znewman01 shouldn't this be documented as a breaking change in Cosign release notes?

[2022-09-15 15:13] znewman01 commented on #899
Yup, filed https://github.com/sigstore/cosign/issues/2253

[2022-09-15 15:25] asraa commented on #899
Hi! Thank you for filing this issue! I want to call out two details too:
1. Without `COSIGN_EXPERIMENTAL` we were not checking the signature validity against the certificate. The keyless certificate is short-lived: and validating the signature requires validating (against the TLOG) that the signature was produced during the validity period. Thanks @znewman01 for filing the change documentation.
2.

[2022-09-16 12:21] stefanprodan opened #901 "Introduce a flag to limit the max size of Flux artifacts"
To avoid OOM errors like the one reported [here](https://github.com/fluxcd/kustomize-controller/issues/725), I think we need to introduce a flag for limiting the artifact produces by source-controller (we do have such a flag but only for Helm artifacts).

### Proposal (breaking change)

Add a flag `--artifact-max-size` with the default set to `50MiB` (same default as for `--helm-index-max-size`).

[2022-09-16 16:02] bavneetsingh16 opened #902 "Azure Blob Storage - failed to confirm existence of 'test-container' bucket"
Hello,
I am trying to use container level SAS token for Azure Blob Storage source type to deploy the configuration in the cluster. The source controller is unable to find the container because of authorization failure. I have given all the necessary permissions while generating SAS token for the container.

![image](https://user-images.githubusercontent.com/33008256/190681437-d39d6722-0342-475c-b3

[2022-09-17 02:11] somtochiama commented on #902
Hey, Can you try with a storage account level SAS token.
Since the controller tries to get the container properties(to check for existences), the permissions of the container SAS token are limited. This information is missing from our documentation and I will update it to include this caveat.

<img width="1437" alt="Screenshot 2022-09-17 at 03 07 46" src="https://user-images.githubusercontent.com/

[2022-09-19 16:27] bavneetsingh16 commented on #902
Thanks @somtochiama for the quick reply! The account level SAS token has been working as expected but for our scenario we require the use of container level SAS token. Is there a workaround that can be applied that enables the use of container level SAS token(also, will it be supported in the future releases of source controller) or is container level SAS token not a valid authentication mechanism

[2022-09-19 21:52] somtochiama commented on #902
@bavneetsingh16  The `BucketExists()` function that requires this higher permission is part of the `Bucket` interface.
I will take a look at all the other interfaces to check if this is required for any of them.

I tried removing the check for Azure it worked okay when the bucket was present but when I used an incorrect bucket it return an error that would be hard to debug.
[code]
It looks like th

[2022-09-20 10:48] stefanprodan commented on #899
After setting `COSIGN_EXPERIMENTAL=1`, now the build randomly fails with:

[code]

I have no clue why rerunning the job fixes it

[2022-09-20 11:58] somtochiama commented on #902
Due to the `hard-to-debug` error returned by some bucket providers when the bucket doesn't exist, I don't think we would want to remove this check. as it would probably cause some confusion

[2022-09-20 13:38] znewman01 commented on #899
That's an intermittent failure, tracked here: https://github.com/sigstore/rekor/issues/1055

[2022-09-20 20:23] znewman01 commented on #899
Update on that flake: it *was* fixed and we rolled out the fix, but then had to rollback for an unrelated reason. As soon as we can roll forward again it should disappear.

The previously-linked issue should have more details soon.

[2022-09-20 23:06] bavneetsingh16 commented on #902
That seems right. Thanks for the quick turnaround!

[2022-09-21 06:32] stefanprodan commented on #902
@somtochiama please let’s improve the documentation to cover all the permissions needed

[2022-09-21 06:36] stefanprodan commented on #899
@znewman01 is there any way to suppress the tuf logs? In #876 we can’t use the 1.12 packages because this will mess up Flux json logging. Given that Flux only deals with verification of OCI artifacts, is it safe to ship Flux with Cosign 1.11?

[2022-09-21 11:37] masterphenix commented on #898
I have explicitely used the kubelet Identity by applying the AAD Pod Identity label on the source-controller, and it works this way 👍

[2022-09-21 13:26] znewman01 commented on #899
Yeah, the TUF logging bit is very annoying, and there's no easy way to suppress it ☹️ . The go-tuf library has been [fixed](https://github.com/theupdateframework/go-tuf/pull/385) and I've requested to the maintainers to cut a release today. Once that happens, it's just a matter of getting it in Cosign (should be easy, just merging a dependabot PR) and then cutting a Cosign release (unless you want

[2022-09-21 13:29] stefanprodan commented on #899
Thank you @znewman01 We'll go ahead with `1.11` and when `1.12` gets the tuf patch, we'll update the packages in Flux and do a patch release to please the scanners. It's hard to explain to some users that if a CVE is found in a Flux controller that doesn't mean Flux is affected by it.

[2022-09-21 13:42] asraa commented on #899
Hey! I updated the sigstore code to remove the logging (https://github.com/sigstore/sigstore/pull/701) yesterday, and am updating cosign right now. It should be in the v1.12.1 patch!

[2022-09-21 13:46] znewman01 commented on #899
v1.12.1 just went out; I think we missed it: https://github.com/sigstore/cosign/releases/tag/v1.12.1

[2022-09-21 18:23] bnsfrt opened #905 "OCI HelmRepository doesn't support charts at the root of AWS ECR"
Hello,

This issue is related to #896 and addresses what I believe may be a more proper fix for the problem.

As noted in #896, with `v0.29.0` deployed and a HelmRepository like the following created:
[code]
the behavior we see is that the service panics due to an unhandled `nil` return, resulting from the failed parsing of the URL with the regex [here](https://github.com/fluxcd/pkg/blob/dbad05cf9

[2022-09-22 00:12] bavneetsingh16 opened #908 "Helm OCI repository - kubelet managed identity [failed to get credential from azure: failed to login to registry]"
Hello,
I have an AKS cluster with **kubelet managed identity** enabled which has access to ACR.

<img width="827" alt="image" src="https://user-images.githubusercontent.com/33008256/191630742-b51ac36f-7d49-4679-bd34-f7ffef1f15b7.png">

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/33008256/191630660-e787add7-68c6-4fc4-957d-9b4808853376.png">

HelmRepository manifest

[2022-09-22 01:40] somtochiama commented on #908
Can you check that the identity is attached to the cluster?

[2022-09-22 02:31] bavneetsingh16 commented on #908
[code]

Confirming that the kubelet-identity-client-id is the same as the identity created with acr access:
[code]

Steps to recreate the issue:

Identity creation:
[code]

HelmRepository Manifest:
[code]

[2022-09-22 07:26] kunzese opened #910 "invalid memory address or nil pointer dereference in GCP bucket provider (v.0.29.0)"
Hiho,

we try to fetch some helm charts from a GCP bucket using Workload Identity, but the source-controller v.0.29.0 runs into an `invalid memory address or nil pointer dereference` error.

Bucket definition:

[code]

Error:

[code]
The method `getAgeCondition` has been removed in the latest Storage API client v0.26.0:

![image](https://user-images.githubusercontent.com/47970541/191684141-ed8c25d

[2022-09-22 07:27] kunzese commented on #910
@mschaller FYI

[2022-09-22 07:42] souleb commented on #908
Hello,

there is a related issue where the user had `system assigned` and `user assigned identity` mixed, see #898

You can try the following guide as well, https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/TROUBLESHOOTING.md#azure-virtual-machine-managed-identity

[2022-09-22 07:55] mschaller commented on #910
same panic for source-controller 0.28.0 but 0.27.0 works fine without panics

[2022-09-22 09:56] somtochiama commented on #910
The crash seems to be from the gcp library

@kunzese I am trying to recreate this. I have tried w a non-existent bucket, and an identity that has no access (and one that does)

[2022-09-22 10:04] #863 closed

[2022-09-22 10:38] kunzese commented on #910
@somtochiama our bucket is existing and we confirmed that everything around the workload identity thingy from GKE is working correctly with

`kubectl run debug -n flux-system -i --tty --restart=Never --rm --overrides='{ "spec": { "serviceAccount": "source-controller" }  }' --image gcr.io/cloud-builders/gsutil ls gs://my-bucket`

The content of the bucket is listed without any issues.

[2022-09-22 11:16] stefanprodan commented on #899
TUF logs are gone after updating the controller to 1.21.1 🎉

I'm going to close this issue now, thank a lot for all the help 🤗

[2022-09-22 11:19] souleb commented on #905
Thanks @bnsfrt for opening this PR. I think that you are correct in your analysis and we need to implement the missing parts to make this works for AWS ECR whether we provide a `registry` or `registry/subpath` url. We should also update the related documentation as mentioned above.

For the implementation part, it would be best to update the following function, so it can fallback to parsing a regi

[2022-09-22 13:44] bnsfrt commented on #905
Great! I'm glad to know I'm barking up the right tree. Would you like me to go ahead and take a crack at opening a PR for this change myself?

[2022-09-22 14:00] souleb commented on #905
that would be much appreciated.

[2022-09-23 00:34] bavneetsingh16 commented on #902
@somtochiama, could you please review the below scenario and provide your suggestions if this is a viable scenario(changing the execution order for `BucketExists()` and making it conditional):

- `BucketExists()` function would only be called after we encounter the above mentioned issue([link](https://github.com/fluxcd/source-controller/issues/902#issuecomment-1251601061)).
- For the valid scenari

[2022-09-23 08:11] #866 closed

[2022-09-23 08:11] hiddeco commented on #902
Not a big fan of swapping that logic around as there is a variety of errors which could be returned without the cause being the container not existing.

Based on the permissions described above, I would think that changing the internal logic for `BucketExists` to not utilize the current endpoint but e.g. rather list the objects in the Bucket with a limit of `1` would also confirm existence while s

[2022-09-23 08:13] stefanprodan commented on #902
@somtochiama can you please give this a try? Thanks

[2022-09-26 03:46] vl-shopback commented on #205
but non prelease is not supported!

[code]

[2022-09-26 09:02] souleb opened #914 "[Helm] Add Support for Chart verification using Cosign"
Take advantage of PR #876 new `oci` pkg to provide a chart verification capability to the `helmChart` reconciler.

[2022-09-26 10:04] vl-shopback commented on #205
We use  ghcr.io/fluxcd/source-controller:v0.25.9 and below config
[code]

But the version doesn't change
`{"level":"info","ts":"2022-09-26T10:01:04.396Z","logger":"controller.helmchart","msg":"artifact up-to-date with remote revision: '1.78.0'","reconciler group":"source.toolkit.fluxcd.io","reconciler kind":"HelmChart","name":"development-hello-world","namespace":"flux-system","reconcileID":"1a8b8

[2022-09-26 10:13] developer-guy commented on #914
AFAIK, @stefanprodan is also planning the same thing 🙃

[2022-09-26 10:15] developer-guy commented on #914
would you like to collaborate for this issue? ✌️

/cc @dentrax

[2022-09-26 11:01] hiddeco commented on #205
This is expected, as a prerelease is ranked lower than the non-prerelease. If both `1.78.1` and `1.78.1-1` thus exist, `1.78.1` is considered newer than the `-1` counterpart.

[2022-09-26 13:54] souleb commented on #914
Hello There. We discussed this during the last dev meeting. Let's chat online about pairing.

[2022-09-26 14:00] souleb opened #915 "OCIRepository verification doesn't not support contextual login"
In #876, artifact signature verification with cosign has been added.

When calling
[code]
We pass the keychain fetch from a secret containing the needed credentials, but we do not take into account the `authenticator` that is retrieved from the cloud provider.

[2022-09-26 14:11] stefanprodan commented on #915
Not only that, the verify function also doesn't set insecure and any transport customisations like root CAs 😱

Thanks @souleb for finding this before the release.

[2022-09-26 19:28] bnsfrt commented on #905
I've raised https://github.com/fluxcd/pkg/pull/362 to address the issue and tested that the source-controller works with the change.

[2022-09-27 04:36] somtochiama commented on #902
@hiddeco this suffers the same problem. An AuthenticationFailed error is returned if the bucket doesn't exist, so it's difficult to differentiate when there's an actual authentication error and when the bucket doesn't exist.

[2022-09-28 08:50] souleb opened #918 "Add support for Insecure in cosign verifier"
We cannot connect to insecure (plain http) registries with the cosign verifier because cosign does not propagate the insecure flag from their `RegistryOptions` to the `name.Registry` scheme, so it stays on HTTPS (when the host is not localhost).

This needs to be adressed on cosign first, see https://github.com/sigstore/cosign/issues/2290.

[2022-09-28 17:33] stefanprodan commented on #899
Seems that blob verification is broken again (cosign v1.12.1), to reproduce do:

[code]

And the output is:

[code]

[2022-09-28 17:48] znewman01 commented on #899
FYI we can repro and are investigating.

[2022-09-28 18:05] asraa commented on #899
Do you know the entry that was originally uploaded? Maybe in the logs of a signin workflow?

[2022-09-28 18:14] stefanprodan commented on #899
@asraa the full build log is here if you need it https://github.com/fluxcd/golang-with-libgit2/actions/runs/3060959453/jobs/4940247065

[2022-09-28 19:15] asraa commented on #899
Thanks! We've identified the problem, working on fixes.
https://sigstore.slack.com/archives/C033FPC7EUQ/p1664386149753879

[2022-09-29 00:15] znewman01 commented on #899
Okay, I've only followed this secondhand, but I *think* this is what happened; correct me if I'm wrong, @asraa :

There was a change to Rekor that enabled sharding. That change had a small bug where it's possible that an entry winds up stored on >1 shard. The Rekor bug is fixed now (not deployed yet, should happen soon) https://github.com/sigstore/rekor/pull/1082 . After the fix, the duplicated en

[2022-09-29 01:11] asraa commented on #899
This was not quite the problem: Rekor only searched the active shard, so it doesn't matter if the entry was on >1 shard.

With the fix, we'll now return all entries, even on previous shards. So if you were only on a previous shard, you'll get your entry.

If in the case where someone duplicated the entry, then your client will reieve >1 entry and fail.

I would suggest not! If you do then you'll f

[2022-09-29 06:07] pjbgf commented on #899
@asraa we are experiencing the error below now:
[code]

How do you recommend we approach this? The version of the code is based on the PR #921.

[2022-09-29 13:03] #915 closed

[2022-09-29 14:12] #905 closed

[2022-09-29 23:57] haydentherapper commented on #899
We're working on fixing the client, but in the meantime, we'd recommend re-signing to unblock you.

[2022-09-30 06:19] hoffimar opened #924 "HelmCharts set to not ready on index download resp. source-controller restart"
We're facing the following situation:
* we have several helmreleases installed successfully in our cluster
* the helmrepositories and helmcharts are also created and ready

Once the source-controller is restarted, it first fetches the repositories' index, meanwhile setting the **helmrepositories** state to Unknown. This leads to all the **helmcharts** states being set to "Not Ready".
Here an event

[2022-09-30 14:26] pjbgf commented on #902
We could enrich the error message adding extra information like we did for Git `early EOF` which we transformed in `early EOF (the SSH key may not have write access to the repository)`.

xref: https://github.com/fluxcd/image-automation-controller/pull/410

[2022-09-30 15:53] asraa commented on #899
This https://github.com/sigstore/cosign/issues/2294 issue tracks the fix!

[2022-10-05 11:39] developer-guy commented on #918
I'd like to take this on cosign side. ☝️

[2022-10-05 12:40] Paulius0112 commented on #760
Have you found the solution to this problem?

[2022-10-07 10:30] somtochiama opened #928 "Upgrade to `sdk/storage/azblob` to v0.5.0"
The newest version comes with new architectural/breaking changes and changes will need to be made to `pkg/azure`

Ref: https://github.com/Azure/azure-sdk-for-go/releases/tag/sdk%2Fstorage%2Fazblob%2Fv0.5.0

[2022-10-07 16:15] poblin-orange commented on #420
We had the corporate ca issue. Solved with a policy and mounting correct /etc/ssl/certificate in the source controller pod.
Now GitRepository is able to use the ca in Secrets (with gitlib client).
Unsure about HelmRepo ? Is this still an issue @stefanprodan ?

[2022-10-07 19:45] #902 closed

[2022-10-10 07:29] souleb commented on #894
Thanks for working on this @Santosh1176

If you create a `helmrepository` of type `oci` with wrong credentials, it should fail reconciliation. If you then use it as `source` in a `helmrelease`, you should be able to reproduce. You will have to look for the `helmChart` custom resource declared by the helm-controller.

[2022-10-10 22:26] somtochiama commented on #928
Currently blocked since Downloading Blobs using a client created with a SAS URL doesn't work.

Issue Ref: https://github.com/Azure/azure-sdk-for-go/issues/19324

[2022-10-11 11:57] stefanprodan commented on #899
I've tested with latest Cosign and seems to work OK. Thanks!

[2022-10-11 11:57] #899 closed

[2022-10-13 00:02] hamishforbes opened #933 "Chart pull error for public ECR OCI chart"
I'm trying to upgrade [Karpenter](https://karpenter.sh) which has moved all their Helm charts >=0.17.0 to OCI only.

Currently get this error when trying to fetch the latest version:

[code]

Flux version: 0.35.0

HelmRepository:

[code]

Release:
[code]

The chart definitely exists:

[code]

Am I just doing something wrong? I've tried every possible combination of URLs, tags, versions I can think

[2022-10-13 00:32] hamishforbes commented on #933
Of course, I have immediately figured out what I was doing wrong after creating an issue!

Too many `karpenter/` sub-directories....
URL in the `HelmRepository` needed to be: `oci://public.ecr.aws/karpenter` rather than a copy paste from the install instructions using the Helm CLI

[2022-10-13 00:32] #933 closed

[2022-10-17 12:01] stefanprodan opened #934 "Suspended sources can't be deleted"
Once a source is suspended, the controller no longer removes the finalizer nor does it clear the storage, making impossible to delete suspended sources as they will hang forever.

[2022-10-17 12:19] stefanprodan opened #935 "Update and persist `Reconciliation` status condition to reflect progress"
The `Reconciliation` status condition should be set to `True` and its message should be updated in etcd every time we observe a drift to:
- resource generation (`metadata.generation != status.observedGeneration`)
- reconcileAt annotation (`metadata.annotations.reconcileAt != status.lastHandledReconcileAt`)
- upstream revision (`revision != status.artifact.revision`)

In addition, when drift is det

[2022-10-17 12:22] stefanprodan opened #936 "Artifact is wrongly reported in storage after a restart"
The status of all sources are reporting as `Read=True` and `ArtifactInStorage=True` even if the storage is empty because the controller pod was deleted. This is due to the fact that we don't write to the status once we observe a drift, making the consumers (Kustomize and Helm controller) miss behave. Ref: https://github.com/fluxcd/source-controller/issues/935

[2022-10-18 18:35] moritzjohner-form3 opened #938 "sts throttling / caching of OCI credentials"
Hej 👋!
We're seeing throttling issues in AWS using OCI `HelmRepository` with the AWS provider using IRSA to authenticate with ECR. AFAIK there's no public documented limit for AWS/STS, but it's explicitly stated that the limit can not be increased, [see KB article](https://aws.amazon.com/premiumsupport/knowledge-center/iam-sts-throttling-error/).

The root cause is that a `HelmRelease` with `spec.

[2022-10-19 08:19] stefanprodan commented on #938
I don’t think changing the auth token is the solution, even with that, you’ll still hit the ECR API rate limits. IMO you should be setting the `Helmrelease.spec.chart.spec.interval` to something like 30m, then when you push a new chart, use Flux webhooks to trigger a chart pull outside of the interval.

[2022-10-19 15:25] danfromtitan commented on #522
+1

[2022-10-19 19:41] danfromtitan commented on #522
Turns out my issue was with one of the inner git repo manifests.
The sequence of troubleshoot this was:
- check flux picked up on the latest git changes in the inner repo:
` kubectl get gitrepositories.source.toolkit.fluxcd.io`
- check the reconcile status of helmreleases or kustomizations coming from the inner repo:
`kubectl get kustomizations.kustomize.toolkit.fluxcd.io`

That should reveal the

[2022-10-20 10:05] moritzjohner-form3 commented on #938
True, that's probably the better call. Thanks for your feedback, gonna close this issue then 👍

[2022-10-20 10:05] #938 closed

[2022-10-20 14:39] #934 closed

[2022-10-21 13:54] #914 closed

[2022-10-24 07:32] developer-guy commented on #918
Hi @souleb, the PR[^1] on cosign side seems to be merged; what will be the next step ☝️

[^1]: https://github.com/sigstore/cosign/pull/2316

[2022-10-24 07:36] stefanprodan commented on #918
We need to wait for this to be included in a cosign release, then test if it really works and remove the condition where we error out when verifying with insecure.

[2022-10-24 12:08] souleb commented on #918
To complete @stefanprodan comment, we error out here https://github.com/fluxcd/source-controller/blob/main/controllers/ocirepository_controller.go#L405.

Then it's just a matter of passing the `insecure` option when creating the verifier options.

[2022-10-28 20:14] caige-kelly commented on #652
I hope this is placed in the correct thread. I am facing a similar issue with Github Organizations where I can successfully connect to private repositories via ssh, but after roughly 5-10 minutes 'flux get source git' will show failure with error message:  failed to checkout and determine revision: unable to fetch-connect to remote 'https://github.com/{org}/{repo}': unhandled HTTP error 401 Author

[2022-11-01 15:55] pjbgf opened #946 "Bump `Bucket` to `source.toolkit.fluxcd.io/v1`"
Items to be reviewed plus any outstanding work required to bump API to `v1`:
- [ ] Documentation
- [ ] API Validation
- [ ] Test Coverage

[2022-11-01 15:57] pjbgf opened #947 "GA: Promote `GitRepository` to `source.toolkit.fluxcd.io/v1`"
Items to be reviewed plus any outstanding work required to bump API to `v1`:
- [x] Documentation
- [x] API Validation
- [x] Test Coverage
- [x] Deprecate `spec.gitImplementation`
- [ ] https://github.com/fluxcd/source-controller/issues/1024

[2022-11-02 12:50] #946 closed

[2022-11-08 01:05] cep21 opened #948 "Unable to authenticate to private ECR repository with source controller (no aws-autologin-for-ecr flag)"
The image reflector controller contains "aws-autologin-for-ecr" flag for logging into ECR.  I cannot find a similar flag for the source controller.  However, we are using ECR to store private helm charts.

Should it have a similar flag?

[2022-11-08 01:31] souleb commented on #948
When declaring a `helmRepository` pointing to your repository in `ecr`, you can set a `provider` field to `aws` to enable autologin. See https://fluxcd.io/flux/components/source/helmrepositories/#provider

[2022-11-08 02:12] cep21 commented on #948
Thanks for the pointer.  We will try that out.

[2022-11-08 02:12] #948 closed

[2022-11-08 08:06] jerryc8 opened #949 "aws ecr chart pull error: 403 Forbidden failed to download chart"
Hi, we are using `oci//` to download private helm charts stored in AWS ECR.  However, we are encountering 403 Forbidden when trying this.  source-controller is at the latest version v0.31.0

The chart on AWS Console look like:

<img width="966" alt="Screen Shot 2022-11-07 at 11 56 05 PM" src="https://user-images.githubusercontent.com/52230405/200508712-da20ef3f-57b1-43af-b7f5-23b0527a2b05.png">

T

[2022-11-08 13:58] #928 closed

[2022-11-08 16:56] cep21 opened #951 "ECR: helm charts do not pull if from the root of the repository"
Proof I can pull from the helm CLI.
[code]

Helm release Object
[code]

* Helm repository object
[code]

Relevant error logs from the source controller

[code]

Current source controller image
[code]

Strange part is "123123123.dkr.ecr.us-west-2.amazonaws.com/trino/trino:1.1.5: not found".  Should that be only one `trino`?

[2022-11-08 19:08] souleb commented on #951
In your hemRepository, the url should be `oci://123123123.dkr.ecr.us-west-2.amazonaws.com`.

[2022-11-08 23:21] cep21 commented on #951
It still does not work with the root path.  I'm looking around and found others having issues with ECR.  Is there a recommended setup?

[2022-11-09 00:14] cep21 commented on #951
Here is the debug log message I get
[code]

However I have verified that the service account for the source-controller has a role attached to it, and I get no error messages about being unable to authenticate against ECR.

[2022-11-09 13:35] souleb commented on #949
this seems related to https://github.com/fluxcd/source-controller/issues/951. Passing the aws account in those public issues is not a good idea.

[2022-11-09 13:39] souleb opened #953 "[HelmRepository]Enable using Service accounts for authentication"
HelmRepository user should be able to use `image pull secrets` attached to a `service account` in order to authenticate to OCI registries.

This would then be used to download OCI based `helmCharts`.

[2022-11-09 16:37] souleb commented on #951
thanks for the issue.

Can you post the output of `flux check`?

[2022-11-09 16:41] cep21 commented on #951
To clarify, it is working now because I moved the ECR repository from `/trino` to `/helm/trino` so the bug will no longer show up in my cluster ATM.

[code]

[2022-11-10 00:09] jerryc8 commented on #949
closing because this is duplicate of https://github.com/fluxcd/source-controller/issues/951

[2022-11-10 00:09] #949 closed

[2022-11-10 01:37] 13567436138 opened #954 "failed to confirm existence of 'fluxcd' bucket: Access Denied.,SecondLevelDomainForbidden"
[code]

[code]

[2022-11-10 03:52] darkowlzz commented on #951
I managed to reproduce this using our OCI integration test infra in https://github.com/fluxcd/pkg/tree/main/oci/tests/integration .
Just create a new ECR repo for the chart and push the chart at the root.
HelmRepository login succeeds. Only the HelmChart download fails.

HelmRepo:
[code]
HelmChart:
[code]

The failure is originating from helm registry client where it calls `oras.Copy()`, refer htt

[2022-11-10 10:58] hiddeco commented on #954
The definition of the `region` is likely not required. In the future, please open a [new Q&A discussion](https://github.com/fluxcd/flux2/discussions/new?category=q-a) for this. As this is not an issue but rather a question around proper configuration variables.

[2022-11-10 10:58] #954 closed

[2022-11-11 09:02] debu99 opened #955 "semver version is not working"
Below is our helm history for a service helm chart, which is deployed with fluxcd, anyone know where is this +198, +199 sequence order come from, it prevent us use semver pre-release like 1.138-1 as service-1.138.0+202 is the larger version

our version range '>=0.0.1.0 <10.10.10.0'
![image](https://user-images.githubusercontent.com/25805758/201304515-156b83c0-a551-4c10-bd49-4eae493aa8e4.png)

[2022-11-11 09:18] aryan9600 opened #956 "[RFC-004] Add new flag `--insecure-allow-http`"
Implement [RFC-004](https://github.com/fluxcd/flux2/tree/main/rfcs/0004-insecure-http) by adding a new flag `--insecure-allow-http` which would block/unblock the use of HTTP connections by the controller.

[2022-11-11 09:34] aryan9600 opened #957 "[RFC-004] Add `.spec.insecure` to `HelmRepository`"
Implement [RFC-004](https://github.com/fluxcd/flux2/tree/main/rfcs/0004-insecure-http) by adding a new field `.spec.insecure` to `HelmRepository` in order to enable connecting to an image registry served at a non-TLS endpoint.

[2022-11-11 09:43] stefanprodan commented on #957
This is blocked upstream, see https://github.com/fluxcd/source-controller/pull/828

[2022-11-11 11:02] darkowlzz commented on #955
Hi, there's some description about it in https://fluxcd.io/flux/components/source/helmcharts/#artifact-example .
Can you elaborate more about what you're trying to do?

[2022-11-11 11:08] hiddeco commented on #955
This is added by the source-controller to take note of the object generation which produced the Helm chart, as described in the link Sunny shared above. However, this metadata is not of relevance to any SemVer selectors, as described in the specification:

Given this, I am not sure I am following what the precise issue is you are running into.

[2022-11-13 17:14] patrickc-sb commented on #317
Hey there,
I think I'm having a similar issue with my source-controller. I'm not that experienced in Kubernetes and Flux yet but I'm also getting a `Readiness probe failed: Get ... connect: connection refused` error and I cant find the source of the problem. After a while the source-controller goes into state `CrashLoopBackoff`. I can get rid of the issue temporarily using the params for the Readi

[2022-11-16 11:39] sobi3ch commented on #317
I found myself in similar situation. For those who really need to fix this I found this hacky way.
Edit deployment for source-controller `kubectl edit -n flux-system deployments.apps source-controller` and remove `readinessProbe` section form the manifest. Save & exit. If necessary delete source-controller pod so it will be recreated without readiness probe.

[2022-11-18 05:08] florath commented on #317
Maybe this helps others: I had exactly the same problem. The root cause for me was an incomplete `no_proxy` configuration. As of https://fluxcd.io/flux/cheatsheets/bootstrap/#using-https-proxy-for-egress-traffic the `no_proxy` variable must also contain the IP address range of the pods.

[2022-11-22 10:32] souleb commented on #723
The pr is submitted on helm side. https://github.com/helm/helm/pull/11363.

Helm maintainers have been testing the PR for some time now. They are confident it will be merge.

[2022-11-22 13:48] nashton opened #963 "Add `.spec.refspec` or `.spec.ref.customRef` to `GitRepository`"
I suggest the following enhancement for the GitRepository API:
Add a field to `GitRepository` where a git ref[^1] can be specified (`.spec.ref.customRef`) or a field where a custom git refspec[^2] can be specified (`.spec.refspec`). This gives a lot more flexibility and would support the following use case:

As a devops engineer, i would like to be able to automatically setup a k8s cluster with fl

[2022-11-22 18:51] alexander-matthiesen opened #964 "High Memory usage if lots of tenants"
## Love

At first, thanks for that great tool! Really appreciate the work of the flux community. <3

## Status

Within our setup, we have a lot of tenants (~70) which have each three different environments (review, dev, int).
This results in having ~210 tenant instances. We expect even more to add in the future.

### Structure

The current structure is set up for our cluster:

- kustomization.yaml

[2022-11-22 18:58] hiddeco commented on #964
Would you be able to collect a heap profile? https://fluxcd.io/flux/gitops-toolkit/debugging/#collecting-a-profile

[2022-11-22 18:59] stefanprodan commented on #964
@alexander-matthiesen can you please update your cluster to Flux v0.37.0 and see if things change in any way.

[2022-11-23 15:27] alexander-matthiesen commented on #964
I will try to get the information that you need.

I'm not sure if we can give you the whole heap profile due to company regulations but I will analyze it and see if there are unusual occurences of memory usage.

@stefanprodan I will clarify if an update to flux 0.37.0 is possible.

[2022-11-23 16:01] alexander-matthiesen commented on #964
Here you can find some "top10" profiles:

`top10`
[code]

`TOP10 -cum`
[code]

If you need anything else, just let me know and I check if I can provide it to you.

[2022-11-23 16:04] stefanprodan commented on #964
@alexander-matthiesen I recommend getting rid of the Helm charts who contain the namespace, gitrepo and Flux Kustomization. You could use plain YAMLs in the main repo and this will solve all the perf issues.

[2022-11-23 16:15] alexander-matthiesen commented on #964
Thanks @stefanprodan, I will take that with me and check if we can switch from a tenant-onboarding helmchart to a tenant-onboarding kustomization structure.

Thanks for the help!

[2022-11-23 16:16] stefanprodan commented on #964
@alexander-matthiesen you could keep the chart to generate the yaml, for example `helm template tenant > tenant1.yaml`, then store that in the repo.

[2022-11-23 16:31] alexander-matthiesen commented on #964
That would be hard to maintain I guess since those would generate pretty long files.

Could you provide a bit of background why the helm charts causing so much trouble?

[2022-11-23 16:55] souleb commented on #894
hello @Santosh1176, did you have the chance to look at this?

[2022-11-23 16:57] souleb commented on #898
@masterphenix, it seems that your issue is solved. Can we close this?

[2022-11-23 16:57] souleb commented on #908
Closing this, please re-open if needed, or see #898

[2022-11-23 16:57] #908 closed

[2022-11-23 17:00] stefanprodan commented on #964
I assume you have 210+ charts and potentially a huge index.yaml. Helm indexes are not scalable, for each chart, Flux has to load the index in memory, convert the YAML to JSON and extract the chart version from there. We recommend Helm user to switch to OCI so that there is no more index to parse each time. Also charts are not meant to store namespaces, a HelmRelease is a namespaced objects. By the

[2022-11-23 17:18] stefanprodan commented on #964
Once you switch to OCI these top 3 code paths will no longer be called:

[code]

First try the caching, it should help up to some point.

[2022-11-23 17:28] alexander-matthiesen commented on #964
Yes, I activated the caching. Let's see how it performs.

For me the issue is closed and I will reopen it / comment it if I have further questions or an outcome of what helped.

Thanks a lot!

[2022-11-23 17:28] #964 closed

[2022-11-23 18:52] alexander-matthiesen commented on #964
Tested with one example service:

Timestamp | Duration | Task
-- | -- | --
18:58:00 | 08:50 | Running Build Pipeline in application repository (until creating review branch, 12m 47s in total)
19:06:50 | - | review branch creation in environment repository
19:06:50 | 03:40 | waiting for review-controller to pick up review branch _(could be improved with a shorter fetching interval)_
19:10:30 | 00:4

[2022-11-24 08:06] masterphenix commented on #898
Yes it is solved thank you, sorry I forgot to confirm and close

[2022-11-24 08:06] #898 closed

[2022-11-25 09:49] Santosh1176 commented on #894
@souleb Sorry, I tried but could not reproduce the issue, I'll take a closer look this weekend. if this task is of importance, please go ahead.
Thank you!

[2022-11-25 17:50] aek-arm opened #970 "Issue with recurseSubmodules on 0.37.1"
Since update from 0.36 to 0.37.1  the below git repo definitions fail with this error:

[code]

The source definition:
[code]

The moment I remove the recurseSubmodules: true it get's fetched.

[2022-11-26 08:15] nmeisenzahl commented on #898
Hi all,

I know this issue is already closed but we are currently running into the same issues mentioned and thought it might be helpful to share my findings.

The root cause of this should be the `Multiple user assigned identities exist, please specify the clientId` mentioned in:
[code]

With System-assigned Managed Identity you can only have one identity. With User-assigned Managed Identity (UAI

[2022-11-29 16:36] pjbgf commented on #970
@aek-arm we have created a rc image to test the fix for this: `ghcr.io/fluxcd/source-controller:rc-eaaddb6c`. Changes are on [branch fix-chroot](https://github.com/fluxcd/source-controller/tree/fix-chroot).

Can you please give it a try and confirm whether it resolves your issue?

[2022-11-29 19:14] ar-qun opened #971 "Does source-controller work with Google Workload Identity?"
Hello everyone,

I constantly receive the issue below when trying to pull helm charts from Google's Artifact Registry:

[code]
However, when I run `wget --header "Metadata-Flavor: Google" http://169.254.169.254/computeMetadata/v1/instance/service-accounts/default/email -qO -` I can see that the service account is properly attached to the source-controller pod.

Any idea on what could be the issue?

[2022-11-29 19:22] ar-qun commented on #971
Forgot to send provider to gcp on the HelmRepository...

[2022-11-29 19:22] #971 closed

[2022-11-30 10:45] pjbgf commented on #970
There was [an issue](https://github.com/fluxcd/source-controller/actions/runs/3576014030) with the previous rc release build. A new image has been generated (still from the same branch). The image above has been updated accordingly.

[2022-11-30 17:09] aek-arm commented on #970
Hi @pjbgf - We'll try that one and give feedback.